In [1]:
import pandas as pd

In [2]:
data = pd.read_csv('../data/external/potential-talents.csv').set_index('id')
data.shape

(104, 4)

In [3]:
data.drop_duplicates(inplace = True)
data.shape

(53, 4)

In [4]:
data.head()

,job_title,location,connection,fit
id,,,,
1,2019 C.T. Bauer College of Business Graduate (...,"Houston, Texas",85,NaN
2,Native English Teacher at EPIK (English Progra...,Kanada,500+,NaN
3,Aspiring Human Resources Professional,"Raleigh-Durham, North Carolina Area",44,NaN
4,People Development Coordinator at Ryan,"Denton, Texas",500+,NaN
5,Advisory Board Member at Celal Bayar University,"İzmir, Türkiye",500+,NaN

In [5]:
data.drop('fit', axis=1, inplace=True)

In [6]:
df_v1 = data.copy()
print(df_v1.shape)
df_v1.head()

(53, 3)

,job_title,location,connection
id,,,
1,2019 C.T. Bauer College of Business Graduate (...,"Houston, Texas",85
2,Native English Teacher at EPIK (English Progra...,Kanada,500+
3,Aspiring Human Resources Professional,"Raleigh-Durham, North Carolina Area",44
4,People Development Coordinator at Ryan,"Denton, Texas",500+
5,Advisory Board Member at Celal Bayar University,"İzmir, Türkiye",500+

### Bag of words

In [7]:
import math
import re
from collections import Counter

In [8]:
WORD = re.compile(r'\w+')

def get_cosine(vec1, vec2):
    intersection = set(vec1.keys()) & set(vec2.keys())
    numerator = sum([vec1[x] * vec2[x] for x in intersection])
    sum1 = sum([vec1[x]**2 for x in vec1.keys()])
    sum2 = sum([vec2[x]**2 for x in vec2.keys()])
    denominator = math.sqrt(sum1) * math.sqrt(sum2)
    if not denominator:
        return 0.0
    else:
        return float(numerator/denominator)
    
def text_to_vector(text):
    return Counter(WORD.findall(text))

In [9]:
keywords = 'Aspiring Human Resources'

job_title_vectors = [text_to_vector(text) for text in df_v1['job_title']]
keyword_vectors = text_to_vector(keywords)

In [10]:
df_v1['bow_fit'] = [get_cosine(keyword_vectors, title_vector) for title_vector in job_title_vectors]
df_bow = df_v1.sort_values('bow_fit', ascending=False)
df_bow.head(10)

,job_title,location,connection,bow_fit
id,,,,
97,Aspiring Human Resources Professional,"Kokomo, Indiana Area",71,0.866025
3,Aspiring Human Resources Professional,"Raleigh-Durham, North Carolina Area",44,0.866025
6,Aspiring Human Resources Specialist,Greater New York City Area,1,0.866025
73,"Aspiring Human Resources Manager, seeking inte...","Houston, Texas Area",7,0.800641
74,Human Resources Professional,Greater Boston Area,16,0.666667
79,Liberal Arts Major. Aspiring Human Resources A...,"Baton Rouge, Louisiana Area",7,0.654654
100,Aspiring Human Resources Manager | Graduating ...,"Cape Girardeau, Missouri",103,0.629941
27,Aspiring Human Resources Management student se...,"Houston, Texas Area",500+,0.612372
72,Business Management Major and Aspiring Human R...,"Monroe, Louisiana Area",5,0.612372
88,Human Resources Management Major,"Milpitas, California",18,0.577350

### TF-IDF

In [11]:
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.metrics.pairwise import cosine_similarity
import numpy as np

In [12]:
df_v2 = data.copy()

In [13]:
documents = df_v2['job_title'].tolist()
keywords = 'Aspiring Human Resources'

In [14]:
vectorizer = TfidfVectorizer()
tfidf_matrix = vectorizer.fit_transform(documents)
keyword_vector = vectorizer.transform([keywords])
similarities = [cosine_similarity(keyword_vector, text_vector) for text_vector in tfidf_matrix]
similarities_list = []
for i in similarities:
    similarities_list.append(i.item())
df_v2['tfidf_fit'] = similarities_list
df_tfidf = df_v2.sort_values('tfidf_fit', ascending=False)
df_tfidf

,job_title,location,connection,tfidf_fit
id,,,,
97,Aspiring Human Resources Professional,"Kokomo, Indiana Area",71,0.761756
3,Aspiring Human Resources Professional,"Raleigh-Durham, North Carolina Area",44,0.761756
6,Aspiring Human Resources Specialist,Greater New York City Area,1,0.682828
73,"Aspiring Human Resources Manager, seeking inte...","Houston, Texas Area",7,0.576029
72,Business Management Major and Aspiring Human R...,"Monroe, Louisiana Area",5,0.415676
74,Human Resources Professional,Greater Boston Area,16,0.412834
27,Aspiring Human Resources Management student se...,"Houston, Texas Area",500+,0.398810
66,Experienced Retail Manager and aspiring Human ...,"Austin, Texas Area",57,0.391409
7,Student at Humber College and Aspiring Human R...,Kanada,61,0.370897
79,Liberal Arts Major. Aspiring Human Resources A...,"Baton Rouge, Louisiana Area",7,0.356918
100,Aspiring Human Resources Manager | Graduating ...,"Cape Girardeau, Missouri",103,0.321987
82,Aspiring Human Resources Professional | An ene...,"Austin, Texas Area",174,0.308270
99,Seeking Human Resources Position,"Las Vegas, Nevada Area",48,0.287013
28,Seeking Human Resources Opportunities,"Chicago, Illinois",390,0.287013
88,Human Resources Management Major,"Milpitas, California",18,0.268190
1,2019 C.T. Bauer College of Business Graduate (...,"Houston, Texas",85,0.241850
101,Human Resources Generalist at Loparex,"Raleigh-Durham, North Carolina Area",500+,0.232708
78,Human Resources Generalist at Schwan's,Amerika Birleşik Devletleri,500+,0.232708
68,Human Resources Specialist at Luxottica,Greater New York City Area,500+,0.229000
76,Aspiring Human Resources Professional | Passio...,"New York, New York",212,0.224897
89,Director Human Resources at EY,Greater Atlanta Area,349,0.224437
67,"Human Resources, Staffing and Recruiting Profe...","Jackson, Mississippi Area",500+,0.197231
71,"Human Resources Generalist at ScottMadden, Inc.","Raleigh-Durham, North Carolina Area",500+,0.189854
10,Seeking Human Resources HRIS and Generalist Po...,Greater Philadelphia Area,500+,0.176059
13,Human Resources Coordinator at InterContinenta...,"Atlanta, Georgia",500+,0.159131
81,Senior Human Resources Business Partner at Hei...,"Chattanooga, Tennessee Area",455,0.149690
69,"Director of Human Resources North America, Gro...","Greater Grand Rapids, Michigan Area",500+,0.143923
94,Seeking Human Resources Opportunities. Open t...,Amerika Birleşik Devletleri,415,0.140674
84,Human Resources professional for the world lea...,"Highland, California",50,0.128997
70,"Retired Army National Guard Recruiter, office ...","Virginia Beach, Virginia",82,0.114174
77,Human Resources|\nConflict Management|\nPolici...,Dallas/Fort Worth Area,409,0.112897
75,"Nortia Staffing is seeking Human Resources, Pa...","San Jose, California",500+,0.106941
102,Business Intelligence and Analytics at Travelers,Greater New York City Area,49,0.000000
93,Admissions Representative at Community medical...,"Long Beach, California",9,0.000000
4,People Development Coordinator at Ryan,"Denton, Texas",500+,0.000000
5,Advisory Board Member at Celal Bayar University,"İzmir, Türkiye",500+,0.000000
8,HR Senior Specialist,San Francisco Bay Area,500+,0.000000
98,Student,"Houston, Texas Area",4,0.000000
103,Always set them up for Success,Greater Los Angeles Area,500+,0.000000
96,Student at Indiana University Kokomo - Busines...,"Lafayette, Indiana",19,0.000000
95,Student at Westfield State University,"Bridgewater, Massachusetts",57,0.000000
87,Bachelor of Science in Biology from Victoria U...,"Baltimore, Maryland",40,0.000000
92,Seeking employment opportunities within Custom...,"Torrance, California",64,0.000000
91,Lead Official at Western Illinois University,Greater Chicago Area,39,0.000000
90,Undergraduate Research Assistant at Styczynski...,Greater Atlanta Area,155,0.000000
11,Student at Chapman University,"Lake Forest, California",2,0.000000
86,Information Systems Specialist and Programmer ...,"Gaithersburg, Maryland",4,0.000000
85,RRP Brand Portfolio Executive at JTI (Japan To...,Greater Philadelphia Area,500+,0.000000
83,HR Manager at Endemol Shine North America,"Los Angeles, California",268,0.000000
12,"SVP, CHRO, Marketing & Communications, CSR Off...","Houston, Texas Area",500+,0.000000
80,Junior MES Engineer| Information Systems,"Myrtle Beach, South Carolina Area",52,0.000000
2,Native English Teacher at EPIK (English Progra...,Kanada,500+,0.000000
104,Director Of Administration at Excellence Logging,"Katy, Texas",500+,0.000000

### GloVe

In [15]:
import torchtext

In [16]:
df_v3 = data.copy()
df_v3.shape

(53, 3)

In [17]:
## getting nan values for embedding when simple clearning is not done for a few job_titles
def simple_cleaning(text):
    text = re.sub(r'\s+', ' ', text).strip()
    return text.lower()
df_v3['job_title'] = df_v3['job_title'].apply(simple_cleaning)
df_v3.head()

,job_title,location,connection
id,,,
1,2019 c.t. bauer college of business graduate (...,"Houston, Texas",85
2,native english teacher at epik (english progra...,Kanada,500+
3,aspiring human resources professional,"Raleigh-Durham, North Carolina Area",44
4,people development coordinator at ryan,"Denton, Texas",500+
5,advisory board member at celal bayar university,"İzmir, Türkiye",500+

In [18]:
glove = torchtext.vocab.GloVe(name='6B', dim=100)

In [19]:
def string_to_glove_embedding(string):
    tokens = string.split()
    indices = [glove.stoi[token] for token in tokens if token in glove.stoi]
    vectors = glove.vectors[indices]
    vectors_array = vectors.numpy()
    embedding = vectors_array.mean(axis=0)
    return embedding

In [20]:
keywords = 'aspiring human resources'
embeddings = df_v3['job_title'].apply(string_to_glove_embedding)
text_embedding_list = [embedding for embedding in embeddings]
keyword_array = string_to_glove_embedding(keywords)

similarity_scores = [cosine_similarity(array.reshape(1, -1), keyword_array.reshape(1, -1))[0, 0] for array in text_embedding_list]

df_v3['gloVe_fit'] = similarity_scores
df_gloVe = df_v3.sort_values('gloVe_fit', ascending=False)
df_gloVe.head()

,job_title,location,connection,gloVe_fit
id,,,,
6,aspiring human resources specialist,Greater New York City Area,1,0.953001
97,aspiring human resources professional,"Kokomo, Indiana Area",71,0.948721
3,aspiring human resources professional,"Raleigh-Durham, North Carolina Area",44,0.948721
74,human resources professional,Greater Boston Area,16,0.922117
73,"aspiring human resources manager, seeking inte...","Houston, Texas Area",7,0.920849

### Word2Vec

In [21]:
df_v4 = data.copy()
df_v4.head()

,job_title,location,connection
id,,,
1,2019 C.T. Bauer College of Business Graduate (...,"Houston, Texas",85
2,Native English Teacher at EPIK (English Progra...,Kanada,500+
3,Aspiring Human Resources Professional,"Raleigh-Durham, North Carolina Area",44
4,People Development Coordinator at Ryan,"Denton, Texas",500+
5,Advisory Board Member at Celal Bayar University,"İzmir, Türkiye",500+

In [22]:
def tokenized_corpus(text):
    tokens = text.split()
    return tokens

toks = df_v4['job_title'].apply(tokenized_corpus)
tokenized_list = toks.tolist()

In [23]:
from gensim.models import Word2Vec

In [24]:
model = Word2Vec(tokenized_list, vector_size=100, window=5, min_count=2, workers=4)
model.save('word2vec.model')

In [25]:
model = Word2Vec.load("word2vec.model")

In [26]:
def string_to_word2vec_embedding(string):
    tokens = string.split()
    vectors = [model.wv[token] for token in tokens if token in model.wv]
    embedding = np.mean(vectors, axis=0)
    return embedding

In [27]:
keywords = 'aspiring human resources'
embeddings_w2v = df_v4['job_title'].apply(string_to_word2vec_embedding)
text_embedding_list_w2v = [embedding for embedding in embeddings_w2v]
keyword_array_w2v = string_to_word2vec_embedding(keywords)

similarity_scores_w2v = [cosine_similarity(array.reshape(1, -1), keyword_array_w2v.reshape(1, -1))[0, 0] for array in text_embedding_list_w2v]

df_v4['w2v_fit'] = similarity_scores
df__w2v = df_v4.sort_values('w2v_fit', ascending=False)
df__w2v.head()

,job_title,location,connection,w2v_fit
id,,,,
6,Aspiring Human Resources Specialist,Greater New York City Area,1,0.953001
97,Aspiring Human Resources Professional,"Kokomo, Indiana Area",71,0.948721
3,Aspiring Human Resources Professional,"Raleigh-Durham, North Carolina Area",44,0.948721
74,Human Resources Professional,Greater Boston Area,16,0.922117
73,"Aspiring Human Resources Manager, seeking inte...","Houston, Texas Area",7,0.920849

### BERT

In [28]:
import transformers
import torch

In [29]:
model = transformers.BertModel.from_pretrained('bert-base-uncased')
tokenizer = transformers.BertTokenizer.from_pretrained('bert-base-uncased')

In [30]:
def string_to_bert_embedding(string):
    input_ids = tokenizer.encode_plus(string, add_special_tokens=True, return_tensors='pt')
    output = model(**input_ids)
    embedding = torch.mean(output.last_hidden_state, dim=1)
    return embedding

In [31]:
df_v5 = data.copy()

In [32]:
keywords = 'aspiring human resources'
txt_emb_bert = [embedding.detach().numpy() for embedding in df_v5['job_title'].apply(string_to_bert_embedding)]
kw_e_bert = string_to_bert_embedding(keywords)
kw_emb_bert = kw_e_bert.detach().numpy()
# j = 0
# for i in txt_emb_bert:
#     print('printing ....')
#     print(i)
#     j += 1
#     if j == 5:
#         break
    
# print(kw_emb_bert)
    
df_v5['bert_fit'] = [cosine_similarity(txt_emb, kw_emb_bert).item() for txt_emb in txt_emb_bert]
df_bert = df_v5.sort_values('bert_fit', ascending=False)
df_bert

,job_title,location,connection,bert_fit
id,,,,
6,Aspiring Human Resources Specialist,Greater New York City Area,1,0.905480
3,Aspiring Human Resources Professional,"Raleigh-Durham, North Carolina Area",44,0.902632
97,Aspiring Human Resources Professional,"Kokomo, Indiana Area",71,0.902632
28,Seeking Human Resources Opportunities,"Chicago, Illinois",390,0.823453
99,Seeking Human Resources Position,"Las Vegas, Nevada Area",48,0.815410
74,Human Resources Professional,Greater Boston Area,16,0.814312
8,HR Senior Specialist,San Francisco Bay Area,500+,0.804810
66,Experienced Retail Manager and aspiring Human ...,"Austin, Texas Area",57,0.766706
27,Aspiring Human Resources Management student se...,"Houston, Texas Area",500+,0.756199
4,People Development Coordinator at Ryan,"Denton, Texas",500+,0.752288
68,Human Resources Specialist at Luxottica,Greater New York City Area,500+,0.749704
73,"Aspiring Human Resources Manager, seeking inte...","Houston, Texas Area",7,0.748516
89,Director Human Resources at EY,Greater Atlanta Area,349,0.745304
10,Seeking Human Resources HRIS and Generalist Po...,Greater Philadelphia Area,500+,0.730277
72,Business Management Major and Aspiring Human R...,"Monroe, Louisiana Area",5,0.729307
88,Human Resources Management Major,"Milpitas, California",18,0.729110
104,Director Of Administration at Excellence Logging,"Katy, Texas",500+,0.726209
67,"Human Resources, Staffing and Recruiting Profe...","Jackson, Mississippi Area",500+,0.716683
80,Junior MES Engineer| Information Systems,"Myrtle Beach, South Carolina Area",52,0.712508
82,Aspiring Human Resources Professional | An ene...,"Austin, Texas Area",174,0.710185
79,Liberal Arts Major. Aspiring Human Resources A...,"Baton Rouge, Louisiana Area",7,0.706893
7,Student at Humber College and Aspiring Human R...,Kanada,61,0.686413
98,Student,"Houston, Texas Area",4,0.686118
101,Human Resources Generalist at Loparex,"Raleigh-Durham, North Carolina Area",500+,0.681012
77,Human Resources|\nConflict Management|\nPolici...,Dallas/Fort Worth Area,409,0.671450
81,Senior Human Resources Business Partner at Hei...,"Chattanooga, Tennessee Area",455,0.663948
92,Seeking employment opportunities within Custom...,"Torrance, California",64,0.663890
71,"Human Resources Generalist at ScottMadden, Inc.","Raleigh-Durham, North Carolina Area",500+,0.662071
100,Aspiring Human Resources Manager | Graduating ...,"Cape Girardeau, Missouri",103,0.659241
102,Business Intelligence and Analytics at Travelers,Greater New York City Area,49,0.645834
76,Aspiring Human Resources Professional | Passio...,"New York, New York",212,0.644129
78,Human Resources Generalist at Schwan's,Amerika Birleşik Devletleri,500+,0.640211
94,Seeking Human Resources Opportunities. Open t...,Amerika Birleşik Devletleri,415,0.637389
84,Human Resources professional for the world lea...,"Highland, California",50,0.629707
12,"SVP, CHRO, Marketing & Communications, CSR Off...","Houston, Texas Area",500+,0.621767
103,Always set them up for Success,Greater Los Angeles Area,500+,0.621722
13,Human Resources Coordinator at InterContinenta...,"Atlanta, Georgia",500+,0.619063
75,"Nortia Staffing is seeking Human Resources, Pa...","San Jose, California",500+,0.607480
70,"Retired Army National Guard Recruiter, office ...","Virginia Beach, Virginia",82,0.605012
1,2019 C.T. Bauer College of Business Graduate (...,"Houston, Texas",85,0.587713
83,HR Manager at Endemol Shine North America,"Los Angeles, California",268,0.580361
85,RRP Brand Portfolio Executive at JTI (Japan To...,Greater Philadelphia Area,500+,0.579744
86,Information Systems Specialist and Programmer ...,"Gaithersburg, Maryland",4,0.562600
11,Student at Chapman University,"Lake Forest, California",2,0.550156
93,Admissions Representative at Community medical...,"Long Beach, California",9,0.548684
2,Native English Teacher at EPIK (English Progra...,Kanada,500+,0.546800
91,Lead Official at Western Illinois University,Greater Chicago Area,39,0.529710
96,Student at Indiana University Kokomo - Busines...,"Lafayette, Indiana",19,0.528570
95,Student at Westfield State University,"Bridgewater, Massachusetts",57,0.526098
69,"Director of Human Resources North America, Gro...","Greater Grand Rapids, Michigan Area",500+,0.494489
90,Undergraduate Research Assistant at Styczynski...,Greater Atlanta Area,155,0.486651
5,Advisory Board Member at Celal Bayar University,"İzmir, Türkiye",500+,0.430944
87,Bachelor of Science in Biology from Victoria U...,"Baltimore, Maryland",40,0.349546

### SBERT

In [33]:
model_sbert = transformers.AutoModel.from_pretrained('sentence-transformers/all-MiniLM-L6-v2')
tokenizer_sbert = transformers.AutoTokenizer.from_pretrained('sentence-transformers/all-MiniLM-L6-v2')

def string_to_sbert_embedding(string):
    input_ids = tokenizer_sbert.encode_plus(string, add_special_tokens=True, return_tensors='pt')
    output = model_sbert(**input_ids)
    embedding = torch.mean(output.last_hidden_state, dim=1)
    return embedding

In [34]:
df_v6 = data.copy()

In [35]:
keywords = 'aspiring human resources'
txt_emb_sbert = [embedding.detach().numpy() for embedding in df_v6['job_title'].apply(string_to_sbert_embedding)]
kw_e_sbert = string_to_sbert_embedding(keywords)
kw_emb_sbert = kw_e_sbert.detach().numpy()   
df_v6['sbert_fit'] = [cosine_similarity(txt_emb, kw_emb_sbert).item() for txt_emb in txt_emb_sbert]
df_sbert = df_v6.sort_values('sbert_fit', ascending=False)
df_sbert

,job_title,location,connection,sbert_fit
id,,,,
97,Aspiring Human Resources Professional,"Kokomo, Indiana Area",71,0.949807
3,Aspiring Human Resources Professional,"Raleigh-Durham, North Carolina Area",44,0.949807
6,Aspiring Human Resources Specialist,Greater New York City Area,1,0.928035
99,Seeking Human Resources Position,"Las Vegas, Nevada Area",48,0.808784
28,Seeking Human Resources Opportunities,"Chicago, Illinois",390,0.799642
74,Human Resources Professional,Greater Boston Area,16,0.794648
82,Aspiring Human Resources Professional | An ene...,"Austin, Texas Area",174,0.784048
100,Aspiring Human Resources Manager | Graduating ...,"Cape Girardeau, Missouri",103,0.760215
7,Student at Humber College and Aspiring Human R...,Kanada,61,0.757810
76,Aspiring Human Resources Professional | Passio...,"New York, New York",212,0.749486
67,"Human Resources, Staffing and Recruiting Profe...","Jackson, Mississippi Area",500+,0.745484
10,Seeking Human Resources HRIS and Generalist Po...,Greater Philadelphia Area,500+,0.744711
88,Human Resources Management Major,"Milpitas, California",18,0.726044
72,Business Management Major and Aspiring Human R...,"Monroe, Louisiana Area",5,0.724114
27,Aspiring Human Resources Management student se...,"Houston, Texas Area",500+,0.720099
73,"Aspiring Human Resources Manager, seeking inte...","Houston, Texas Area",7,0.717391
66,Experienced Retail Manager and aspiring Human ...,"Austin, Texas Area",57,0.696065
79,Liberal Arts Major. Aspiring Human Resources A...,"Baton Rouge, Louisiana Area",7,0.689971
78,Human Resources Generalist at Schwan's,Amerika Birleşik Devletleri,500+,0.623912
68,Human Resources Specialist at Luxottica,Greater New York City Area,500+,0.622302
101,Human Resources Generalist at Loparex,"Raleigh-Durham, North Carolina Area",500+,0.603002
13,Human Resources Coordinator at InterContinenta...,"Atlanta, Georgia",500+,0.595789
71,"Human Resources Generalist at ScottMadden, Inc.","Raleigh-Durham, North Carolina Area",500+,0.581877
1,2019 C.T. Bauer College of Business Graduate (...,"Houston, Texas",85,0.573268
70,"Retired Army National Guard Recruiter, office ...","Virginia Beach, Virginia",82,0.572453
89,Director Human Resources at EY,Greater Atlanta Area,349,0.571970
77,Human Resources|\nConflict Management|\nPolici...,Dallas/Fort Worth Area,409,0.567598
84,Human Resources professional for the world lea...,"Highland, California",50,0.565377
94,Seeking Human Resources Opportunities. Open t...,Amerika Birleşik Devletleri,415,0.556044
69,"Director of Human Resources North America, Gro...","Greater Grand Rapids, Michigan Area",500+,0.542827
8,HR Senior Specialist,San Francisco Bay Area,500+,0.503456
81,Senior Human Resources Business Partner at Hei...,"Chattanooga, Tennessee Area",455,0.467560
83,HR Manager at Endemol Shine North America,"Los Angeles, California",268,0.442391
80,Junior MES Engineer| Information Systems,"Myrtle Beach, South Carolina Area",52,0.403589
86,Information Systems Specialist and Programmer ...,"Gaithersburg, Maryland",4,0.403419
4,People Development Coordinator at Ryan,"Denton, Texas",500+,0.380222
75,"Nortia Staffing is seeking Human Resources, Pa...","San Jose, California",500+,0.376164
90,Undergraduate Research Assistant at Styczynski...,Greater Atlanta Area,155,0.369043
11,Student at Chapman University,"Lake Forest, California",2,0.351657
92,Seeking employment opportunities within Custom...,"Torrance, California",64,0.341554
96,Student at Indiana University Kokomo - Busines...,"Lafayette, Indiana",19,0.326191
95,Student at Westfield State University,"Bridgewater, Massachusetts",57,0.318234
12,"SVP, CHRO, Marketing & Communications, CSR Off...","Houston, Texas Area",500+,0.299863
91,Lead Official at Western Illinois University,Greater Chicago Area,39,0.275150
104,Director Of Administration at Excellence Logging,"Katy, Texas",500+,0.275141
2,Native English Teacher at EPIK (English Progra...,Kanada,500+,0.239483
98,Student,"Houston, Texas Area",4,0.238388
5,Advisory Board Member at Celal Bayar University,"İzmir, Türkiye",500+,0.230512
87,Bachelor of Science in Biology from Victoria U...,"Baltimore, Maryland",40,0.222139
93,Admissions Representative at Community medical...,"Long Beach, California",9,0.161050
103,Always set them up for Success,Greater Los Angeles Area,500+,0.148272
85,RRP Brand Portfolio Executive at JTI (Japan To...,Greater Philadelphia Area,500+,0.120575
102,Business Intelligence and Analytics at Travelers,Greater New York City Area,49,0.086457

## Conclusion

All the models have performed reasonably well.  The models are tested on a small sample and it does not seem to demand semantic capabilities provided by BERT and SBERT which are usually better models.