In [1]:
#import required packages
import warnings
warnings.filterwarnings("ignore")
import pandas as pd

In [2]:
df = pd.read_csv("../data/external/potential-talents.csv").set_index('id')
df.head()

,job_title,location,connection,fit
id,,,,
1,2019 C.T. Bauer College of Business Graduate (...,"Houston, Texas",85,NaN
2,Native English Teacher at EPIK (English Progra...,Kanada,500+,NaN
3,Aspiring Human Resources Professional,"Raleigh-Durham, North Carolina Area",44,NaN
4,People Development Coordinator at Ryan,"Denton, Texas",500+,NaN
5,Advisory Board Member at Celal Bayar University,"İzmir, Türkiye",500+,NaN

###### Remove duplicates

In [3]:
df_no_duplicates = df.drop_duplicates()
print('shape of the dataframe without duplicates: ', df_no_duplicates.shape)

shape of the dataframe without duplicates:  (53, 4)

###### Remove the fit feature column as there is no data in it as of now

In [4]:
df_no_duplicates_fitFeature = df_no_duplicates.drop('fit', axis=1)
print('shape of the dataframe without duplicates and fit feature: ',df_no_duplicates_fitFeature.shape)
print('dataframe without duplicates and fit feature: ', df_no_duplicates_fitFeature)

shape of the dataframe without duplicates and fit feature:  (53, 3)
dataframe without duplicates and fit feature:                                               job_title  \
id
1    2019 C.T. Bauer College of Business Graduate (...
2    Native English Teacher at EPIK (English Progra...
3                Aspiring Human Resources Professional
4               People Development Coordinator at Ryan
5      Advisory Board Member at Celal Bayar University
6                  Aspiring Human Resources Specialist
7    Student at Humber College and Aspiring Human R...
8                                 HR Senior Specialist
10   Seeking Human Resources HRIS and Generalist Po...
11                       Student at Chapman University
12   SVP, CHRO, Marketing & Communications, CSR Off...
13   Human Resources Coordinator at InterContinenta...
27   Aspiring Human Resources Management student se...
28               Seeking Human Resources Opportunities
66   Experienced Retail Manager and aspiring Human ...
67   Human Resources, Staffing and Recruiting Profe...
68             Human Resources Specialist at Luxottica
69   Director of Human Resources North America, Gro...
70   Retired Army National Guard Recruiter, office ...
71     Human Resources Generalist at ScottMadden, Inc.
72   Business Management Major and Aspiring Human R...
73   Aspiring Human Resources Manager, seeking inte...
74                        Human Resources Professional
75   Nortia Staffing is seeking Human Resources, Pa...
76   Aspiring Human Resources Professional | Passio...
77   Human Resources|\nConflict Management|\nPolici...
78              Human Resources Generalist at Schwan's
79   Liberal Arts Major. Aspiring Human Resources A...
80            Junior MES Engineer| Information Systems
81   Senior Human Resources Business Partner at Hei...
82   Aspiring Human Resources Professional | An ene...
83           HR Manager at Endemol Shine North America
84   Human Resources professional for the world lea...
85   RRP Brand Portfolio Executive at JTI (Japan To...
86   Information Systems Specialist and Programmer ...
87   Bachelor of Science in Biology from Victoria U...
88                    Human Resources Management Major
89                     Director Human Resources  at EY
90   Undergraduate Research Assistant at Styczynski...
91        Lead Official at Western Illinois University
92   Seeking employment opportunities within Custom...
93   Admissions Representative at Community medical...
94   Seeking Human  Resources Opportunities. Open t...
95               Student at Westfield State University
96   Student at Indiana University Kokomo - Busines...
97               Aspiring Human Resources Professional
98                                             Student
99                    Seeking Human Resources Position
100  Aspiring Human Resources Manager | Graduating ...
101              Human Resources Generalist at Loparex
102   Business Intelligence and Analytics at Travelers
103                     Always set them up for Success
104   Director Of Administration at Excellence Logging

                                location connection
id
1                         Houston, Texas         85
2                                 Kanada      500+
3    Raleigh-Durham, North Carolina Area         44
4                          Denton, Texas      500+
5                         İzmir, Türkiye      500+
6             Greater New York City Area          1
7                                 Kanada         61
8                 San Francisco Bay Area      500+
10             Greater Philadelphia Area      500+
11               Lake Forest, California          2
12                   Houston, Texas Area      500+
13                      Atlanta, Georgia      500+
27                   Houston, Texas Area      500+
28                     Chicago, Illinois        390
66                    Austin, Texas Area         57
67             Jackson, Mississippi Area      500+
68            Greater New York City Area      500+
69   Greater Grand Rapids, Michigan Area      500+
70              Virginia Beach, Virginia         82
71   Raleigh-Durham, North Carolina Area      500+
72                Monroe, Louisiana Area          5
73                   Houston, Texas Area          7
74                   Greater Boston Area         16
75                  San Jose, California      500+
76                    New York, New York        212
77                Dallas/Fort Worth Area        409
78           Amerika Birleşik Devletleri      500+
79           Baton Rouge, Louisiana Area          7
80     Myrtle Beach, South Carolina Area         52
81           Chattanooga, Tennessee Area        455
82                    Austin, Texas Area        174
83               Los Angeles, California        268
84                  Highland, California         50
85             Greater Philadelphia Area      500+
86                Gaithersburg, Maryland          4
87                   Baltimore, Maryland         40
88                  Milpitas, California         18
89                  Greater Atlanta Area        349
90                  Greater Atlanta Area        155
91                  Greater Chicago Area         39
92                  Torrance, California         64
93                Long Beach, California          9
94           Amerika Birleşik Devletleri        415
95            Bridgewater, Massachusetts         57
96                    Lafayette, Indiana         19
97                  Kokomo, Indiana Area         71
98                   Houston, Texas Area          4
99                Las Vegas, Nevada Area         48
100             Cape Girardeau, Missouri        103
101  Raleigh-Durham, North Carolina Area      500+
102           Greater New York City Area         49
103             Greater Los Angeles Area      500+
104                          Katy, Texas      500+

###### Check to see if there are any null values for any of the features

In [5]:
df_no_duplicates_fitFeature.isnull().value_counts()

job_title  location  connection
False      False     False         53
dtype: int64

###### We will copy this dataframe to df_v1 and used that for some processing

In [6]:
df_v1 = df_no_duplicates_fitFeature.copy()
print("shape: ", df_v1.shape)
print("dataframe: ", df_v1)

shape:  (53, 3)
dataframe:                                               job_title  \
id
1    2019 C.T. Bauer College of Business Graduate (...
2    Native English Teacher at EPIK (English Progra...
3                Aspiring Human Resources Professional
4               People Development Coordinator at Ryan
5      Advisory Board Member at Celal Bayar University
6                  Aspiring Human Resources Specialist
7    Student at Humber College and Aspiring Human R...
8                                 HR Senior Specialist
10   Seeking Human Resources HRIS and Generalist Po...
11                       Student at Chapman University
12   SVP, CHRO, Marketing & Communications, CSR Off...
13   Human Resources Coordinator at InterContinenta...
27   Aspiring Human Resources Management student se...
28               Seeking Human Resources Opportunities
66   Experienced Retail Manager and aspiring Human ...
67   Human Resources, Staffing and Recruiting Profe...
68             Human Resources Specialist at Luxottica
69   Director of Human Resources North America, Gro...
70   Retired Army National Guard Recruiter, office ...
71     Human Resources Generalist at ScottMadden, Inc.
72   Business Management Major and Aspiring Human R...
73   Aspiring Human Resources Manager, seeking inte...
74                        Human Resources Professional
75   Nortia Staffing is seeking Human Resources, Pa...
76   Aspiring Human Resources Professional | Passio...
77   Human Resources|\nConflict Management|\nPolici...
78              Human Resources Generalist at Schwan's
79   Liberal Arts Major. Aspiring Human Resources A...
80            Junior MES Engineer| Information Systems
81   Senior Human Resources Business Partner at Hei...
82   Aspiring Human Resources Professional | An ene...
83           HR Manager at Endemol Shine North America
84   Human Resources professional for the world lea...
85   RRP Brand Portfolio Executive at JTI (Japan To...
86   Information Systems Specialist and Programmer ...
87   Bachelor of Science in Biology from Victoria U...
88                    Human Resources Management Major
89                     Director Human Resources  at EY
90   Undergraduate Research Assistant at Styczynski...
91        Lead Official at Western Illinois University
92   Seeking employment opportunities within Custom...
93   Admissions Representative at Community medical...
94   Seeking Human  Resources Opportunities. Open t...
95               Student at Westfield State University
96   Student at Indiana University Kokomo - Busines...
97               Aspiring Human Resources Professional
98                                             Student
99                    Seeking Human Resources Position
100  Aspiring Human Resources Manager | Graduating ...
101              Human Resources Generalist at Loparex
102   Business Intelligence and Analytics at Travelers
103                     Always set them up for Success
104   Director Of Administration at Excellence Logging

                                location connection
id
1                         Houston, Texas         85
2                                 Kanada      500+
3    Raleigh-Durham, North Carolina Area         44
4                          Denton, Texas      500+
5                         İzmir, Türkiye      500+
6             Greater New York City Area          1
7                                 Kanada         61
8                 San Francisco Bay Area      500+
10             Greater Philadelphia Area      500+
11               Lake Forest, California          2
12                   Houston, Texas Area      500+
13                      Atlanta, Georgia      500+
27                   Houston, Texas Area      500+
28                     Chicago, Illinois        390
66                    Austin, Texas Area         57
67             Jackson, Mississippi Area      500+
68            Greater New York City Area      500+
69   Greater Grand Rapids, Michigan Area      500+
70              Virginia Beach, Virginia         82
71   Raleigh-Durham, North Carolina Area      500+
72                Monroe, Louisiana Area          5
73                   Houston, Texas Area          7
74                   Greater Boston Area         16
75                  San Jose, California      500+
76                    New York, New York        212
77                Dallas/Fort Worth Area        409
78           Amerika Birleşik Devletleri      500+
79           Baton Rouge, Louisiana Area          7
80     Myrtle Beach, South Carolina Area         52
81           Chattanooga, Tennessee Area        455
82                    Austin, Texas Area        174
83               Los Angeles, California        268
84                  Highland, California         50
85             Greater Philadelphia Area      500+
86                Gaithersburg, Maryland          4
87                   Baltimore, Maryland         40
88                  Milpitas, California         18
89                  Greater Atlanta Area        349
90                  Greater Atlanta Area        155
91                  Greater Chicago Area         39
92                  Torrance, California         64
93                Long Beach, California          9
94           Amerika Birleşik Devletleri        415
95            Bridgewater, Massachusetts         57
96                    Lafayette, Indiana         19
97                  Kokomo, Indiana Area         71
98                   Houston, Texas Area          4
99                Las Vegas, Nevada Area         48
100             Cape Girardeau, Missouri        103
101  Raleigh-Durham, North Carolina Area      500+
102           Greater New York City Area         49
103             Greater Los Angeles Area      500+
104                          Katy, Texas      500+

###### Preprocessing text so as to remove numbers, hard returns, special characters, extra spaces and stopwords and also lemmatize to get the verb forms of the words

In [7]:
import re
import nltk
# nltk.download('wordnet')
# nltk.download('stopwords')
# nltk.download('punkt')
# nltk.download('omw-1.4')
from nltk.stem import WordNetLemmatizer
from nltk.tokenize import word_tokenize
from nltk.corpus import stopwords

def get_preprocessed_text(text):
    pattern1 = r'[0-9]'
    pattern2 = r'[\n]'
    pattern3 = r'[^\s\w]'
    pattern4 = r'\s+'
    t1 = re.sub(pattern1, '', text)
    t2 = re.sub(pattern2, ' ', t1)
    t3 = re.sub(pattern3, '', t2)
    t4 = re.sub(pattern4, ' ', t3)
    t5 = t4.lower()
    # list of words/tokens by breaking the sentence into tokens
    tokenized_words =  word_tokenize(t5)
    lemmatizer = WordNetLemmatizer()
    # list of words whrein few words are converted into their verb forms
    lemmatized_words = [lemmatizer.lemmatize(tokens, pos='v') for tokens in tokenized_words] 
    # List of non-important words
    stop_words = stopwords.words('english')
    stripped_words = []
    for word in lemmatized_words:
        if word not in stop_words:
            stripped_words.append(word)
    processed_text = ' '.join(stripped_words)
    return processed_text

df_v1['job_title'] = df_v1.job_title.apply(get_preprocessed_text)

###### expanding the abbreviations in the text

In [8]:
df_v1.replace({'job_title' : { 'chro' : 'chief human resources officer', 'svp' : 'senior vice president'
        ,'gphr' : 'global professional in human resources','hris' : 'human resources information system'
        , 'csr' : 'corporate social responsibility', 'sphr' : 'strategic and policy-making certification'
        , 'hr' : 'human resources'}}, regex=True, inplace=True)
print('shape of the df_v1 dataframe: ', df_v1.shape)
print('df_v1 dataframe: ', df_v1)

shape of the df_v1 dataframe:  (53, 3)
df_v1 dataframe:                                               job_title  \
id
1    ct bauer college business graduate magna cum l...
2    native english teacher epik english program korea
3                  aspire human resources professional
4                  people development coordinator ryan
5         advisory board member celal bayar university
6                    aspire human resources specialist
7    student humber college aspire human resources ...
8                    human resources senior specialist
10   seek human resources human resources informati...
11                          student chapman university
12   senior vice president chief human resources of...
13   human resources coordinator intercontinental b...
27   aspire human resources management student seek...
28                  seek human resources opportunities
66   experience retail manager aspire human resourc...
67          human resources staff recruit professional
68                human resources specialist luxottica
69   director human resources north america groupe ...
70   retire army national guard recruiter office ma...
71          human resources generalist scottmadden inc
72   business management major aspire human resourc...
73   aspire human resources manager seek internship...
74                        human resources professional
75   nortia staff seek human resources payroll admi...
76   aspire human resources professional passionate...
77   human resources conflict management policies p...
78                  human resources generalist schwans
79   liberal arts major aspire human resources analyst
80             junior mes engineer information systems
81   senior human resources business partner heil e...
82   aspire human resources professional energetic ...
83   human resources manager endemol shine north am...
84   human resources professional world leader gi s...
85   rrp brand portfolio executive jti japan tobacc...
86   information systems specialist programmer love...
87   bachelor science biology victoria university w...
88                    human resources management major
89                         director human resources ey
90     undergraduate research assistant styczynski lab
91           lead official western illinois university
92   seek employment opportunities within customer ...
93   admissions representative community medical ce...
94   seek human resources opportunities open travel...
95                  student westfield state university
96   student indiana university kokomo business man...
97                 aspire human resources professional
98                                             student
99                       seek human resources position
100  aspire human resources manager graduate may se...
101                 human resources generalist loparex
102          business intelligence analytics travelers
103                                 always set success
104             director administration excellence log

                                location connection
id
1                         Houston, Texas         85
2                                 Kanada      500+
3    Raleigh-Durham, North Carolina Area         44
4                          Denton, Texas      500+
5                         İzmir, Türkiye      500+
6             Greater New York City Area          1
7                                 Kanada         61
8                 San Francisco Bay Area      500+
10             Greater Philadelphia Area      500+
11               Lake Forest, California          2
12                   Houston, Texas Area      500+
13                      Atlanta, Georgia      500+
27                   Houston, Texas Area      500+
28                     Chicago, Illinois        390
66                    Austin, Texas Area         57
67             Jackson, Mississippi Area      500+
68            Greater New York City Area      500+
69   Greater Grand Rapids, Michigan Area      500+
70              Virginia Beach, Virginia         82
71   Raleigh-Durham, North Carolina Area      500+
72                Monroe, Louisiana Area          5
73                   Houston, Texas Area          7
74                   Greater Boston Area         16
75                  San Jose, California      500+
76                    New York, New York        212
77                Dallas/Fort Worth Area        409
78           Amerika Birleşik Devletleri      500+
79           Baton Rouge, Louisiana Area          7
80     Myrtle Beach, South Carolina Area         52
81           Chattanooga, Tennessee Area        455
82                    Austin, Texas Area        174
83               Los Angeles, California        268
84                  Highland, California         50
85             Greater Philadelphia Area      500+
86                Gaithersburg, Maryland          4
87                   Baltimore, Maryland         40
88                  Milpitas, California         18
89                  Greater Atlanta Area        349
90                  Greater Atlanta Area        155
91                  Greater Chicago Area         39
92                  Torrance, California         64
93                Long Beach, California          9
94           Amerika Birleşik Devletleri        415
95            Bridgewater, Massachusetts         57
96                    Lafayette, Indiana         19
97                  Kokomo, Indiana Area         71
98                   Houston, Texas Area          4
99                Las Vegas, Nevada Area         48
100             Cape Girardeau, Missouri        103
101  Raleigh-Durham, North Carolina Area      500+
102           Greater New York City Area         49
103             Greater Los Angeles Area      500+
104                          Katy, Texas      500+

###### Finding the most commmon words

In [9]:
from collections import Counter
words_counts = Counter()
for sentence in df_v1.job_title:
    for word in sentence.split(' '):
        words_counts[word] += 1
print(len(words_counts))
print(words_counts.most_common())

182
[('human', 39), ('resources', 39), ('aspire', 13), ('professional', 10), ('seek', 10), ('manager', 7), ('university', 6), ('student', 6), ('business', 5), ('generalist', 5), ('management', 5), ('specialist', 4), ('position', 4), ('senior', 3), ('information', 3), ('opportunities', 3), ('director', 3), ('major', 3), ('college', 2), ('graduate', 2), ('english', 2), ('coordinator', 2), ('officer', 2), ('internship', 2), ('retail', 2), ('staff', 2), ('north', 2), ('america', 2), ('systems', 2), ('leader', 2), ('ct', 1), ('bauer', 1), ('magna', 1), ('cum', 1), ('laude', 1), ('native', 1), ('teacher', 1), ('epik', 1), ('program', 1), ('korea', 1), ('people', 1), ('development', 1), ('ryan', 1), ('advisory', 1), ('board', 1), ('member', 1), ('celal', 1), ('bayar', 1), ('humber', 1), ('system', 1), ('chapman', 1), ('vice', 1), ('president', 1), ('chief', 1), ('market', 1), ('communications', 1), ('corporate', 1), ('social', 1), ('responsibility', 1), ('engie', 1), ('houston', 1), ('woodlands', 1), ('energy', 1), ('global', 1), ('in', 1), ('strategic', 1), ('and', 1), ('policy-making', 1), ('certification', 1), ('intercontinental', 1), ('buckhead', 1), ('atlanta', 1), ('experience', 1), ('recruit', 1), ('luxottica', 1), ('groupe', 1), ('beneteau', 1), ('retire', 1), ('army', 1), ('national', 1), ('guard', 1), ('recruiter', 1), ('office', 1), ('scottmadden', 1), ('inc', 1), ('nortia', 1), ('payroll', 1), ('administrative', 1), ('professionals', 1), ('passionate', 1), ('help', 1), ('create', 1), ('inclusive', 1), ('engage', 1), ('work', 1), ('environment', 1), ('conflict', 1), ('policies', 1), ('procedurestalent', 1), ('managementbenefits', 1), ('compensation', 1), ('schwans', 1), ('liberal', 1), ('arts', 1), ('analyst', 1), ('junior', 1), ('mes', 1), ('engineer', 1), ('partner', 1), ('heil', 1), ('environmental', 1), ('energetic', 1), ('teamfocused', 1), ('endemol', 1), ('shine', 1), ('world', 1), ('gi', 1), ('software', 1), ('rrp', 1), ('brand', 1), ('portfolio', 1), ('executive', 1), ('jti', 1), ('japan', 1), ('tobacco', 1), ('international', 1), ('programmer', 1), ('love', 1), ('data', 1), ('organization', 1), ('bachelor', 1), ('science', 1), ('biology', 1), ('victoria', 1), ('wellington', 1), ('ey', 1), ('undergraduate', 1), ('research', 1), ('assistant', 1), ('styczynski', 1), ('lab', 1), ('lead', 1), ('official', 1), ('western', 1), ('illinois', 1), ('employment', 1), ('within', 1), ('customer', 1), ('service', 1), ('patient', 1), ('care', 1), ('admissions', 1), ('representative', 1), ('community', 1), ('medical', 1), ('center', 1), ('long', 1), ('beach', 1), ('open', 1), ('travel', 1), ('relocation', 1), ('westfield', 1), ('state', 1), ('indiana', 1), ('kokomo', 1), ('delphi', 1), ('hardware', 1), ('paint', 1), ('may', 1), ('entrylevel', 1), ('st', 1), ('louis', 1), ('loparex', 1), ('intelligence', 1), ('analytics', 1), ('travelers', 1), ('always', 1), ('set', 1), ('success', 1), ('administration', 1), ('excellence', 1), ('log', 1)]

#### Bag of words

###### Cosine similarity is the dot product of the array A and B divided by the product of their absolute values

In [10]:
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.metrics.pairwise import cosine_similarity
def rank_candidates_bag_of_words(keyword, df, feature_name):
    corpus = df[feature_name].tolist()
    keyword = get_preprocessed_text(keyword)
    corpus.append(keyword)
    # print(len(corpus))
    # print(corpus)
    vectorizer = CountVectorizer( binary = True)
    vectors = vectorizer.fit_transform(corpus)
    num_of_texts = vectors.toarray().shape[0]
    X, y = vectors.toarray()[: num_of_texts -1, :], vectors.toarray()[num_of_texts -1, :]
    # print(X.shape, (y.reshape(1, -1)).shape)
    cosym = cosine_similarity(X, y.reshape(1, -1))
    df['fit_bow'] = cosym
    df.sort_values('fit_bow', ascending=False, inplace=True)
    corpus.pop()
    return df    
    
resultant_df = rank_candidates_bag_of_words('specialist', df_v1, 'job_title')
resultant_df

,job_title,location,connection,fit_bow
id,,,,
6,aspire human resources specialist,Greater New York City Area,1,0.500000
8,human resources senior specialist,San Francisco Bay Area,500+,0.500000
68,human resources specialist luxottica,Greater New York City Area,500+,0.500000
86,information systems specialist programmer love...,"Gaithersburg, Maryland",4,0.377964
1,ct bauer college business graduate magna cum l...,"Houston, Texas",85,0.000000
92,seek employment opportunities within customer ...,"Torrance, California",64,0.000000
82,aspire human resources professional energetic ...,"Austin, Texas Area",174,0.000000
83,human resources manager endemol shine north am...,"Los Angeles, California",268,0.000000
84,human resources professional world leader gi s...,"Highland, California",50,0.000000
85,rrp brand portfolio executive jti japan tobacc...,Greater Philadelphia Area,500+,0.000000
87,bachelor science biology victoria university w...,"Baltimore, Maryland",40,0.000000
88,human resources management major,"Milpitas, California",18,0.000000
89,director human resources ey,Greater Atlanta Area,349,0.000000
90,undergraduate research assistant styczynski lab,Greater Atlanta Area,155,0.000000
91,lead official western illinois university,Greater Chicago Area,39,0.000000
93,admissions representative community medical ce...,"Long Beach, California",9,0.000000
80,junior mes engineer information systems,"Myrtle Beach, South Carolina Area",52,0.000000
94,seek human resources opportunities open travel...,Amerika Birleşik Devletleri,415,0.000000
95,student westfield state university,"Bridgewater, Massachusetts",57,0.000000
96,student indiana university kokomo business man...,"Lafayette, Indiana",19,0.000000
97,aspire human resources professional,"Kokomo, Indiana Area",71,0.000000
98,student,"Houston, Texas Area",4,0.000000
99,seek human resources position,"Las Vegas, Nevada Area",48,0.000000
100,aspire human resources manager graduate may se...,"Cape Girardeau, Missouri",103,0.000000
101,human resources generalist loparex,"Raleigh-Durham, North Carolina Area",500+,0.000000
102,business intelligence analytics travelers,Greater New York City Area,49,0.000000
103,always set success,Greater Los Angeles Area,500+,0.000000
81,senior human resources business partner heil e...,"Chattanooga, Tennessee Area",455,0.000000
78,human resources generalist schwans,Amerika Birleşik Devletleri,500+,0.000000
79,liberal arts major aspire human resources analyst,"Baton Rouge, Louisiana Area",7,0.000000
2,native english teacher epik english program korea,Kanada,500+,0.000000
3,aspire human resources professional,"Raleigh-Durham, North Carolina Area",44,0.000000
4,people development coordinator ryan,"Denton, Texas",500+,0.000000
5,advisory board member celal bayar university,"İzmir, Türkiye",500+,0.000000
7,student humber college aspire human resources ...,Kanada,61,0.000000
10,seek human resources human resources informati...,Greater Philadelphia Area,500+,0.000000
11,student chapman university,"Lake Forest, California",2,0.000000
12,senior vice president chief human resources of...,"Houston, Texas Area",500+,0.000000
13,human resources coordinator intercontinental b...,"Atlanta, Georgia",500+,0.000000
27,aspire human resources management student seek...,"Houston, Texas Area",500+,0.000000
28,seek human resources opportunities,"Chicago, Illinois",390,0.000000
66,experience retail manager aspire human resourc...,"Austin, Texas Area",57,0.000000
67,human resources staff recruit professional,"Jackson, Mississippi Area",500+,0.000000
69,director human resources north america groupe ...,"Greater Grand Rapids, Michigan Area",500+,0.000000
70,retire army national guard recruiter office ma...,"Virginia Beach, Virginia",82,0.000000
71,human resources generalist scottmadden inc,"Raleigh-Durham, North Carolina Area",500+,0.000000
72,business management major aspire human resourc...,"Monroe, Louisiana Area",5,0.000000
73,aspire human resources manager seek internship...,"Houston, Texas Area",7,0.000000
74,human resources professional,Greater Boston Area,16,0.000000
75,nortia staff seek human resources payroll admi...,"San Jose, California",500+,0.000000
76,aspire human resources professional passionate...,"New York, New York",212,0.000000
77,human resources conflict management policies p...,Dallas/Fort Worth Area,409,0.000000
104,director administration excellence log,"Katy, Texas",500+,0.000000

###### Test the ranking based on bag_of_words

In [11]:
keyword = 'aspire human resources'
bow_df = rank_candidates_bag_of_words(keyword, df_v1, 'job_title')
# number of candidates with similar experience (with cosine similarity greater than 0)
print(f'number of candidates with similar experience: { bow_df[bow_df["fit_bow"] > 0].shape[0] }')
print(f'top 10 candidates with similar experience: {bow_df.head(10)}')

number of candidates with similar experience: 35
top 10 candidates with similar experience:                                             job_title  \
id
6                   aspire human resources specialist
3                 aspire human resources professional
97                aspire human resources professional
73  aspire human resources manager seek internship...
74                       human resources professional
72  business management major aspire human resourc...
82  aspire human resources professional energetic ...
7   student humber college aspire human resources ...
27  aspire human resources management student seek...
66  experience retail manager aspire human resourc...

                               location connection   fit_bow
id
6            Greater New York City Area          1  0.866025
3   Raleigh-Durham, North Carolina Area         44  0.866025
97                 Kokomo, Indiana Area         71  0.866025
73                  Houston, Texas Area          7  0.707107
74                  Greater Boston Area         16  0.666667
72               Monroe, Louisiana Area          5  0.654654
82                   Austin, Texas Area        174  0.654654
7                                Kanada         61  0.654654
27                  Houston, Texas Area      500+   0.654654
66                   Austin, Texas Area         57  0.654654

#### tf-idf

In [12]:
df_v2 = df_no_duplicates_fitFeature.copy()
df_v2['job_title'] = df_v2.job_title.apply(get_preprocessed_text)
df_v2.replace({'job_title' : { 'chro' : 'chief human resources officer', 'svp' : 'senior vice president'
        ,'gphr' : 'global professional in human resources','hris' : 'human resources information system'
        , 'csr' : 'corporate social responsibility', 'sphr' : 'strategic and policy-making certification'
        , 'hr' : 'human resources'}}, regex=True, inplace=True)
print('shape of the df_v2 dataframe: ', df_v2.shape)
print('df_v2 dataframe: ', df_v2)

shape of the df_v2 dataframe:  (53, 3)
df_v2 dataframe:                                               job_title  \
id
1    ct bauer college business graduate magna cum l...
2    native english teacher epik english program korea
3                  aspire human resources professional
4                  people development coordinator ryan
5         advisory board member celal bayar university
6                    aspire human resources specialist
7    student humber college aspire human resources ...
8                    human resources senior specialist
10   seek human resources human resources informati...
11                          student chapman university
12   senior vice president chief human resources of...
13   human resources coordinator intercontinental b...
27   aspire human resources management student seek...
28                  seek human resources opportunities
66   experience retail manager aspire human resourc...
67          human resources staff recruit professional
68                human resources specialist luxottica
69   director human resources north america groupe ...
70   retire army national guard recruiter office ma...
71          human resources generalist scottmadden inc
72   business management major aspire human resourc...
73   aspire human resources manager seek internship...
74                        human resources professional
75   nortia staff seek human resources payroll admi...
76   aspire human resources professional passionate...
77   human resources conflict management policies p...
78                  human resources generalist schwans
79   liberal arts major aspire human resources analyst
80             junior mes engineer information systems
81   senior human resources business partner heil e...
82   aspire human resources professional energetic ...
83   human resources manager endemol shine north am...
84   human resources professional world leader gi s...
85   rrp brand portfolio executive jti japan tobacc...
86   information systems specialist programmer love...
87   bachelor science biology victoria university w...
88                    human resources management major
89                         director human resources ey
90     undergraduate research assistant styczynski lab
91           lead official western illinois university
92   seek employment opportunities within customer ...
93   admissions representative community medical ce...
94   seek human resources opportunities open travel...
95                  student westfield state university
96   student indiana university kokomo business man...
97                 aspire human resources professional
98                                             student
99                       seek human resources position
100  aspire human resources manager graduate may se...
101                 human resources generalist loparex
102          business intelligence analytics travelers
103                                 always set success
104             director administration excellence log

                                location connection
id
1                         Houston, Texas         85
2                                 Kanada      500+
3    Raleigh-Durham, North Carolina Area         44
4                          Denton, Texas      500+
5                         İzmir, Türkiye      500+
6             Greater New York City Area          1
7                                 Kanada         61
8                 San Francisco Bay Area      500+
10             Greater Philadelphia Area      500+
11               Lake Forest, California          2
12                   Houston, Texas Area      500+
13                      Atlanta, Georgia      500+
27                   Houston, Texas Area      500+
28                     Chicago, Illinois        390
66                    Austin, Texas Area         57
67             Jackson, Mississippi Area      500+
68            Greater New York City Area      500+
69   Greater Grand Rapids, Michigan Area      500+
70              Virginia Beach, Virginia         82
71   Raleigh-Durham, North Carolina Area      500+
72                Monroe, Louisiana Area          5
73                   Houston, Texas Area          7
74                   Greater Boston Area         16
75                  San Jose, California      500+
76                    New York, New York        212
77                Dallas/Fort Worth Area        409
78           Amerika Birleşik Devletleri      500+
79           Baton Rouge, Louisiana Area          7
80     Myrtle Beach, South Carolina Area         52
81           Chattanooga, Tennessee Area        455
82                    Austin, Texas Area        174
83               Los Angeles, California        268
84                  Highland, California         50
85             Greater Philadelphia Area      500+
86                Gaithersburg, Maryland          4
87                   Baltimore, Maryland         40
88                  Milpitas, California         18
89                  Greater Atlanta Area        349
90                  Greater Atlanta Area        155
91                  Greater Chicago Area         39
92                  Torrance, California         64
93                Long Beach, California          9
94           Amerika Birleşik Devletleri        415
95            Bridgewater, Massachusetts         57
96                    Lafayette, Indiana         19
97                  Kokomo, Indiana Area         71
98                   Houston, Texas Area          4
99                Las Vegas, Nevada Area         48
100             Cape Girardeau, Missouri        103
101  Raleigh-Durham, North Carolina Area      500+
102           Greater New York City Area         49
103             Greater Los Angeles Area      500+
104                          Katy, Texas      500+

In [13]:
from sklearn.feature_extraction.text import TfidfVectorizer
def rank_candidates_tf_idf(keyword, df, feature_name):
    corpus=df[feature_name].tolist()
    keyword=get_preprocessed_text(keyword)
    corpus.append(keyword)
    tf_idf_vectorizer = TfidfVectorizer(lowercase = True, stop_words='english', max_df=100, min_df=2)
    vectors = tf_idf_vectorizer.fit_transform(corpus)
    shape = vectors.toarray().shape
    cosym = cosine_similarity(vectors.toarray()[:shape[0]-1,:], vectors.toarray()[shape[0]-1,:].reshape(1,-1))
    df['fit_tf_idf'] = cosym
    df.sort_values('fit_tf_idf', ascending=False, inplace=True)
    return df
df_tf_idf = rank_candidates_tf_idf('aspire human resources', df_v2, 'job_title')
df_tf_idf

,job_title,location,connection,fit_tf_idf
id,,,,
3,aspire human resources professional,"Raleigh-Durham, North Carolina Area",44,0.757836
97,aspire human resources professional,"Kokomo, Indiana Area",71,0.757836
76,aspire human resources professional passionate...,"New York, New York",212,0.757836
6,aspire human resources specialist,Greater New York City Area,1,0.665663
79,liberal arts major aspire human resources analyst,"Baton Rouge, Louisiana Area",7,0.641860
73,aspire human resources manager seek internship...,"Houston, Texas Area",7,0.601381
100,aspire human resources manager graduate may se...,"Cape Girardeau, Missouri",103,0.543577
82,aspire human resources professional energetic ...,"Austin, Texas Area",174,0.541985
66,experience retail manager aspire human resourc...,"Austin, Texas Area",57,0.480158
7,student humber college aspire human resources ...,Kanada,61,0.456017
12,senior vice president chief human resources of...,"Houston, Texas Area",500+,0.431786
27,aspire human resources management student seek...,"Houston, Texas Area",500+,0.424475
72,business management major aspire human resourc...,"Monroe, Louisiana Area",5,0.422144
1,ct bauer college business graduate magna cum l...,"Houston, Texas",85,0.401840
74,human resources professional,Greater Boston Area,16,0.393191
77,human resources conflict management policies p...,Dallas/Fort Worth Area,409,0.340979
71,human resources generalist scottmadden inc,"Raleigh-Durham, North Carolina Area",500+,0.340979
101,human resources generalist loparex,"Raleigh-Durham, North Carolina Area",500+,0.340979
78,human resources generalist schwans,Amerika Birleşik Devletleri,500+,0.340979
10,seek human resources human resources informati...,Greater Philadelphia Area,500+,0.339649
68,human resources specialist luxottica,Greater New York City Area,500+,0.327399
89,director human resources ey,Greater Atlanta Area,349,0.311964
13,human resources coordinator intercontinental b...,"Atlanta, Georgia",500+,0.293818
99,seek human resources position,"Las Vegas, Nevada Area",48,0.272752
28,seek human resources opportunities,"Chicago, Illinois",390,0.263633
94,seek human resources opportunities open travel...,Amerika Birleşik Devletleri,415,0.263633
84,human resources professional world leader gi s...,"Highland, California",50,0.252407
67,human resources staff recruit professional,"Jackson, Mississippi Area",500+,0.252407
75,nortia staff seek human resources payroll admi...,"San Jose, California",500+,0.252407
88,human resources management major,"Milpitas, California",18,0.246030
81,senior human resources business partner heil e...,"Chattanooga, Tennessee Area",455,0.246030
8,human resources senior specialist,San Francisco Bay Area,500+,0.240780
70,retire army national guard recruiter office ma...,"Virginia Beach, Virginia",82,0.231746
83,human resources manager endemol shine north am...,"Los Angeles, California",268,0.196156
69,director human resources north america groupe ...,"Greater Grand Rapids, Michigan Area",500+,0.186562
85,rrp brand portfolio executive jti japan tobacc...,Greater Philadelphia Area,500+,0.000000
96,student indiana university kokomo business man...,"Lafayette, Indiana",19,0.000000
103,always set success,Greater Los Angeles Area,500+,0.000000
102,business intelligence analytics travelers,Greater New York City Area,49,0.000000
4,people development coordinator ryan,"Denton, Texas",500+,0.000000
5,advisory board member celal bayar university,"İzmir, Türkiye",500+,0.000000
2,native english teacher epik english program korea,Kanada,500+,0.000000
98,student,"Houston, Texas Area",4,0.000000
11,student chapman university,"Lake Forest, California",2,0.000000
95,student westfield state university,"Bridgewater, Massachusetts",57,0.000000
86,information systems specialist programmer love...,"Gaithersburg, Maryland",4,0.000000
80,junior mes engineer information systems,"Myrtle Beach, South Carolina Area",52,0.000000
93,admissions representative community medical ce...,"Long Beach, California",9,0.000000
92,seek employment opportunities within customer ...,"Torrance, California",64,0.000000
91,lead official western illinois university,Greater Chicago Area,39,0.000000
90,undergraduate research assistant styczynski lab,Greater Atlanta Area,155,0.000000
87,bachelor science biology victoria university w...,"Baltimore, Maryland",40,0.000000
104,director administration excellence log,"Katy, Texas",500+,0.000000

#### testing tf_idf

In [14]:
keyword = 'specialist'
df_tf_idf = rank_candidates_tf_idf(keyword, df_v2, 'job_title')
# number of candidates with similar experience (with cosine similarity greater than 0)
print(f'number of candidates with similar experience: { df_tf_idf[df_tf_idf["fit_tf_idf"] > 0].shape[0] }')
print(f'top 5 candidates with similar experience: \n {df_tf_idf.head(5)}')

number of candidates with similar experience: 4
top 5 candidates with similar experience:
                                             job_title  \
id
68               human resources specialist luxottica
6                   aspire human resources specialist
8                   human resources senior specialist
86  information systems specialist programmer love...
3                 aspire human resources professional

                               location connection  fit_tf_idf
id
68           Greater New York City Area      500+     0.847543
6            Greater New York City Area          1    0.718968
8                San Francisco Bay Area      500+     0.613115
86               Gaithersburg, Maryland          4    0.516696
3   Raleigh-Durham, North Carolina Area         44    0.000000

#### Word2Vec

In [15]:
df_v3 = df_no_duplicates_fitFeature.copy()
df_v3['job_title'] = df_v3.job_title.apply(get_preprocessed_text)
df_v3.replace({'job_title' : { 'chro' : 'chief human resources officer', 'svp' : 'senior vice president'
        ,'gphr' : 'global professional in human resources','hris' : 'human resources information system'
        , 'csr' : 'corporate social responsibility', 'sphr' : 'strategic and policy-making certification'
        , 'hr' : 'human resources'}}, regex=True, inplace=True)
print('shape of the df_v3 dataframe: ', df_v3.shape)
print('df_v3 dataframe: ', df_v3)

shape of the df_v3 dataframe:  (53, 3)
df_v3 dataframe:                                               job_title  \
id
1    ct bauer college business graduate magna cum l...
2    native english teacher epik english program korea
3                  aspire human resources professional
4                  people development coordinator ryan
5         advisory board member celal bayar university
6                    aspire human resources specialist
7    student humber college aspire human resources ...
8                    human resources senior specialist
10   seek human resources human resources informati...
11                          student chapman university
12   senior vice president chief human resources of...
13   human resources coordinator intercontinental b...
27   aspire human resources management student seek...
28                  seek human resources opportunities
66   experience retail manager aspire human resourc...
67          human resources staff recruit professional
68                human resources specialist luxottica
69   director human resources north america groupe ...
70   retire army national guard recruiter office ma...
71          human resources generalist scottmadden inc
72   business management major aspire human resourc...
73   aspire human resources manager seek internship...
74                        human resources professional
75   nortia staff seek human resources payroll admi...
76   aspire human resources professional passionate...
77   human resources conflict management policies p...
78                  human resources generalist schwans
79   liberal arts major aspire human resources analyst
80             junior mes engineer information systems
81   senior human resources business partner heil e...
82   aspire human resources professional energetic ...
83   human resources manager endemol shine north am...
84   human resources professional world leader gi s...
85   rrp brand portfolio executive jti japan tobacc...
86   information systems specialist programmer love...
87   bachelor science biology victoria university w...
88                    human resources management major
89                         director human resources ey
90     undergraduate research assistant styczynski lab
91           lead official western illinois university
92   seek employment opportunities within customer ...
93   admissions representative community medical ce...
94   seek human resources opportunities open travel...
95                  student westfield state university
96   student indiana university kokomo business man...
97                 aspire human resources professional
98                                             student
99                       seek human resources position
100  aspire human resources manager graduate may se...
101                 human resources generalist loparex
102          business intelligence analytics travelers
103                                 always set success
104             director administration excellence log

                                location connection
id
1                         Houston, Texas         85
2                                 Kanada      500+
3    Raleigh-Durham, North Carolina Area         44
4                          Denton, Texas      500+
5                         İzmir, Türkiye      500+
6             Greater New York City Area          1
7                                 Kanada         61
8                 San Francisco Bay Area      500+
10             Greater Philadelphia Area      500+
11               Lake Forest, California          2
12                   Houston, Texas Area      500+
13                      Atlanta, Georgia      500+
27                   Houston, Texas Area      500+
28                     Chicago, Illinois        390
66                    Austin, Texas Area         57
67             Jackson, Mississippi Area      500+
68            Greater New York City Area      500+
69   Greater Grand Rapids, Michigan Area      500+
70              Virginia Beach, Virginia         82
71   Raleigh-Durham, North Carolina Area      500+
72                Monroe, Louisiana Area          5
73                   Houston, Texas Area          7
74                   Greater Boston Area         16
75                  San Jose, California      500+
76                    New York, New York        212
77                Dallas/Fort Worth Area        409
78           Amerika Birleşik Devletleri      500+
79           Baton Rouge, Louisiana Area          7
80     Myrtle Beach, South Carolina Area         52
81           Chattanooga, Tennessee Area        455
82                    Austin, Texas Area        174
83               Los Angeles, California        268
84                  Highland, California         50
85             Greater Philadelphia Area      500+
86                Gaithersburg, Maryland          4
87                   Baltimore, Maryland         40
88                  Milpitas, California         18
89                  Greater Atlanta Area        349
90                  Greater Atlanta Area        155
91                  Greater Chicago Area         39
92                  Torrance, California         64
93                Long Beach, California          9
94           Amerika Birleşik Devletleri        415
95            Bridgewater, Massachusetts         57
96                    Lafayette, Indiana         19
97                  Kokomo, Indiana Area         71
98                   Houston, Texas Area          4
99                Las Vegas, Nevada Area         48
100             Cape Girardeau, Missouri        103
101  Raleigh-Durham, North Carolina Area      500+
102           Greater New York City Area         49
103             Greater Los Angeles Area      500+
104                          Katy, Texas      500+

In [16]:
from gensim.models import Word2Vec

In [17]:
def get_tokenized_sentences(df_or_keyword, feature_name=''):
    if(type(df_or_keyword) == str):
        tokenized = [word_tokenize(word) for word in [get_preprocessed_text(df_or_keyword)]]
    else:
        text = [get_preprocessed_text(sentence) for sentence in df_or_keyword[feature_name].tolist()]
        tokenized =  [word_tokenize(sentence) for sentence in text]
    return tokenized

# t_s = get_tokenized_sentences(df_v3, 'job_title')
# print(t_s[:2])
# t_s2 = get_tokenized_sentences('Aspire Human Resources')
# print(t_s2[0])

In [18]:
# model = Word2Vec(t_s, min_count=1)
# print("The model is: ", model)
# print('The first five words from the model', list(model.wv.index_to_key)[:5])
# print("The word resources (first word from the model) is represented as vector like this: \n", model.wv.vectors[0])
# print('The firsTot five words from the text: ', t_s[:][0][:5])
# print(f'The word graduate (fifth word from the text: {t_s[:][0][4]}) is represented as a vector like this: \n {model.wv[t_s[:][0][4]]}')
# model.wv.most_similar("human")

In [19]:
import numpy as np

# def get_vector_avg_for_keyword(keyword):
#     tokenize_keyword = get_tokenized_sentences(keyword)
#     print(tokenize_keyword)
#     print(len(tokenize_keyword))
#     kw_model = Word2Vec(tokenize_keyword, min_count=1)
#     vector_array = np.array(0)
#     for vector in kw_model.wv.vectors:
#         vector_array = vector_array + vector
#     return (vector_array/len(kw_model.wv.vectors))
    
# vecs = get_vector_avg_for_keyword('aspire human resources')
# print(vecs)

In [20]:
def get_avg_vector(tokenized_sentences):
    model_v = Word2Vec(tokenized_sentences, min_count=1)
    vec_avg_array = []
    n = 0
    while n < len(tokenized_sentences):
        line_vec_array = np.array(0)
        for i in range(len(tokenized_sentences[n])):
            line_vec_array = line_vec_array + model_v.wv[tokenized_sentences[n][i]]
        vec_avg_array.append(line_vec_array/len(tokenized_sentences[n]))
        n = n+1
    return vec_avg_array

keyword = 'aspire Human resourseS'
tokenized_sentence_keyword = get_tokenized_sentences(keyword)
avg_vec_kw = np.array(get_avg_vector(tokenized_sentence_keyword))
tokenized_sentence_feature = get_tokenized_sentences(df_v3, 'job_title')
avg_vec_feature = np.array(get_avg_vector(tokenized_sentence_feature))

cosym3 = cosine_similarity(avg_vec_feature, avg_vec_kw.reshape(1, -1))
# # print(cosym3)
# # print(df_v3.shape)
# # print(len(cosym3))
df_v3['fit_w2v'] = cosym3
df_v3.sort_values('fit_w2v', ascending=False, inplace=True)
np.set_printoptions(suppress=True)

df_v3

,job_title,location,connection,fit_w2v
id,,,,
3,aspire human resources professional,"Raleigh-Durham, North Carolina Area",44,0.871010
97,aspire human resources professional,"Kokomo, Indiana Area",71,0.871010
6,aspire human resources specialist,Greater New York City Area,1,0.865894
73,aspire human resources manager seek internship...,"Houston, Texas Area",7,0.789793
74,human resources professional,Greater Boston Area,16,0.714817
10,seek human resources human resources informati...,Greater Philadelphia Area,500+,0.714178
100,aspire human resources manager graduate may se...,"Cape Girardeau, Missouri",103,0.705349
66,experience retail manager aspire human resourc...,"Austin, Texas Area",57,0.672847
7,student humber college aspire human resources ...,Kanada,61,0.665674
79,liberal arts major aspire human resources analyst,"Baton Rouge, Louisiana Area",7,0.653140
82,aspire human resources professional energetic ...,"Austin, Texas Area",174,0.647622
67,human resources staff recruit professional,"Jackson, Mississippi Area",500+,0.638743
72,business management major aspire human resourc...,"Monroe, Louisiana Area",5,0.636003
99,seek human resources position,"Las Vegas, Nevada Area",48,0.620548
1,ct bauer college business graduate magna cum l...,"Houston, Texas",85,0.614894
78,human resources generalist schwans,Amerika Birleşik Devletleri,500+,0.611122
27,aspire human resources management student seek...,"Houston, Texas Area",500+,0.596519
101,human resources generalist loparex,"Raleigh-Durham, North Carolina Area",500+,0.593959
89,director human resources ey,Greater Atlanta Area,349,0.580664
71,human resources generalist scottmadden inc,"Raleigh-Durham, North Carolina Area",500+,0.570856
68,human resources specialist luxottica,Greater New York City Area,500+,0.561567
8,human resources senior specialist,San Francisco Bay Area,500+,0.546179
28,seek human resources opportunities,"Chicago, Illinois",390,0.542130
13,human resources coordinator intercontinental b...,"Atlanta, Georgia",500+,0.512353
81,senior human resources business partner heil e...,"Chattanooga, Tennessee Area",455,0.502984
88,human resources management major,"Milpitas, California",18,0.501765
84,human resources professional world leader gi s...,"Highland, California",50,0.469182
76,aspire human resources professional passionate...,"New York, New York",212,0.461549
12,senior vice president chief human resources of...,"Houston, Texas Area",500+,0.451743
77,human resources conflict management policies p...,Dallas/Fort Worth Area,409,0.420494
75,nortia staff seek human resources payroll admi...,"San Jose, California",500+,0.414876
70,retire army national guard recruiter office ma...,"Virginia Beach, Virginia",82,0.413590
83,human resources manager endemol shine north am...,"Los Angeles, California",268,0.412264
69,director human resources north america groupe ...,"Greater Grand Rapids, Michigan Area",500+,0.388667
94,seek human resources opportunities open travel...,Amerika Birleşik Devletleri,415,0.377225
102,business intelligence analytics travelers,Greater New York City Area,49,0.194966
5,advisory board member celal bayar university,"İzmir, Türkiye",500+,0.143764
96,student indiana university kokomo business man...,"Lafayette, Indiana",19,0.109100
90,undergraduate research assistant styczynski lab,Greater Atlanta Area,155,0.105573
95,student westfield state university,"Bridgewater, Massachusetts",57,0.060585
98,student,"Houston, Texas Area",4,0.029665
92,seek employment opportunities within customer ...,"Torrance, California",64,0.025949
85,rrp brand portfolio executive jti japan tobacc...,Greater Philadelphia Area,500+,0.023844
86,information systems specialist programmer love...,"Gaithersburg, Maryland",4,0.012054
104,director administration excellence log,"Katy, Texas",500+,0.007861
87,bachelor science biology victoria university w...,"Baltimore, Maryland",40,0.003809
80,junior mes engineer information systems,"Myrtle Beach, South Carolina Area",52,0.002933
91,lead official western illinois university,Greater Chicago Area,39,-0.008180
103,always set success,Greater Los Angeles Area,500+,-0.010342
93,admissions representative community medical ce...,"Long Beach, California",9,-0.014526
11,student chapman university,"Lake Forest, California",2,-0.025059
4,people development coordinator ryan,"Denton, Texas",500+,-0.049198
2,native english teacher epik english program korea,Kanada,500+,-0.061069

#### Testing word2vec

In [21]:
keyword = 'human resources manager'
tokenized_sentence_keyword = get_tokenized_sentences(keyword)
avg_vec_kw = np.array(get_avg_vector(tokenized_sentence_keyword))
tokenized_sentence_feature = get_tokenized_sentences(df_v3, 'job_title')
avg_vec_feature = np.array(get_avg_vector(tokenized_sentence_feature))

cosym3 = cosine_similarity(avg_vec_feature, avg_vec_kw.reshape(1, -1))
# # print(cosym3)
# # print(df_v3.shape)
# # print(len(cosym3))
df_v3['fit_w2v'] = cosym3
df_v3.sort_values('fit_w2v', ascending=False, inplace=True)
np.set_printoptions(suppress=True)

df_v3

,job_title,location,connection,fit_w2v
id,,,,
6,aspire human resources specialist,Greater New York City Area,1,0.867302
3,aspire human resources professional,"Raleigh-Durham, North Carolina Area",44,0.854866
97,aspire human resources professional,"Kokomo, Indiana Area",71,0.854866
73,aspire human resources manager seek internship...,"Houston, Texas Area",7,0.848083
27,aspire human resources management student seek...,"Houston, Texas Area",500+,0.756912
79,liberal arts major aspire human resources analyst,"Baton Rouge, Louisiana Area",7,0.720645
100,aspire human resources manager graduate may se...,"Cape Girardeau, Missouri",103,0.719058
10,seek human resources human resources informati...,Greater Philadelphia Area,500+,0.704566
99,seek human resources position,"Las Vegas, Nevada Area",48,0.687955
101,human resources generalist loparex,"Raleigh-Durham, North Carolina Area",500+,0.671340
68,human resources specialist luxottica,Greater New York City Area,500+,0.666367
7,student humber college aspire human resources ...,Kanada,61,0.655327
72,business management major aspire human resourc...,"Monroe, Louisiana Area",5,0.654539
74,human resources professional,Greater Boston Area,16,0.651595
82,aspire human resources professional energetic ...,"Austin, Texas Area",174,0.628134
71,human resources generalist scottmadden inc,"Raleigh-Durham, North Carolina Area",500+,0.618007
8,human resources senior specialist,San Francisco Bay Area,500+,0.598732
78,human resources generalist schwans,Amerika Birleşik Devletleri,500+,0.577025
66,experience retail manager aspire human resourc...,"Austin, Texas Area",57,0.575199
89,director human resources ey,Greater Atlanta Area,349,0.570999
88,human resources management major,"Milpitas, California",18,0.561520
67,human resources staff recruit professional,"Jackson, Mississippi Area",500+,0.559694
28,seek human resources opportunities,"Chicago, Illinois",390,0.559118
76,aspire human resources professional passionate...,"New York, New York",212,0.540906
75,nortia staff seek human resources payroll admi...,"San Jose, California",500+,0.539231
83,human resources manager endemol shine north am...,"Los Angeles, California",268,0.516128
94,seek human resources opportunities open travel...,Amerika Birleşik Devletleri,415,0.464878
84,human resources professional world leader gi s...,"Highland, California",50,0.460786
1,ct bauer college business graduate magna cum l...,"Houston, Texas",85,0.440742
69,director human resources north america groupe ...,"Greater Grand Rapids, Michigan Area",500+,0.433668
77,human resources conflict management policies p...,Dallas/Fort Worth Area,409,0.425286
70,retire army national guard recruiter office ma...,"Virginia Beach, Virginia",82,0.407562
81,senior human resources business partner heil e...,"Chattanooga, Tennessee Area",455,0.404133
13,human resources coordinator intercontinental b...,"Atlanta, Georgia",500+,0.388987
12,senior vice president chief human resources of...,"Houston, Texas Area",500+,0.361291
80,junior mes engineer information systems,"Myrtle Beach, South Carolina Area",52,0.120582
102,business intelligence analytics travelers,Greater New York City Area,49,0.114986
85,rrp brand portfolio executive jti japan tobacc...,Greater Philadelphia Area,500+,0.100038
96,student indiana university kokomo business man...,"Lafayette, Indiana",19,0.098958
11,student chapman university,"Lake Forest, California",2,0.090752
91,lead official western illinois university,Greater Chicago Area,39,0.086676
104,director administration excellence log,"Katy, Texas",500+,0.083718
92,seek employment opportunities within customer ...,"Torrance, California",64,0.067021
98,student,"Houston, Texas Area",4,0.029937
93,admissions representative community medical ce...,"Long Beach, California",9,0.027701
4,people development coordinator ryan,"Denton, Texas",500+,-0.005829
103,always set success,Greater Los Angeles Area,500+,-0.014637
86,information systems specialist programmer love...,"Gaithersburg, Maryland",4,-0.043179
2,native english teacher epik english program korea,Kanada,500+,-0.049991
5,advisory board member celal bayar university,"İzmir, Türkiye",500+,-0.059495
90,undergraduate research assistant styczynski lab,Greater Atlanta Area,155,-0.066909
87,bachelor science biology victoria university w...,"Baltimore, Maryland",40,-0.087350
95,student westfield state university,"Bridgewater, Massachusetts",57,-0.108972

#### GloVe

In [22]:
from gensim.models import KeyedVectors
from gensim.scripts.glove2word2vec import glove2word2vec

In [23]:
word2vec_output_file = "glove"+'.word2vec'
# glove2word2vec("glove.6B.100d.txt", word2vec_output_file)

In [24]:
df_v4 = df_no_duplicates_fitFeature.copy()
df_v4['job_title'] = df_v4.job_title.apply(get_preprocessed_text)
df_v4.replace({'job_title' : { 'chro' : 'chief human resources officer', 'svp' : 'senior vice president'
        ,'gphr' : 'global professional in human resources','hris' : 'human resources information system'
        , 'csr' : 'corporate social responsibility', 'sphr' : 'strategic and policy-making certification'
        , 'hr' : 'human resources'}}, regex=True, inplace=True)
print('shape of the df_v4 dataframe: ', df_v4.shape)
print('df_v4 dataframe: ', df_v4)

shape of the df_v4 dataframe:  (53, 3)
df_v4 dataframe:                                               job_title  \
id
1    ct bauer college business graduate magna cum l...
2    native english teacher epik english program korea
3                  aspire human resources professional
4                  people development coordinator ryan
5         advisory board member celal bayar university
6                    aspire human resources specialist
7    student humber college aspire human resources ...
8                    human resources senior specialist
10   seek human resources human resources informati...
11                          student chapman university
12   senior vice president chief human resources of...
13   human resources coordinator intercontinental b...
27   aspire human resources management student seek...
28                  seek human resources opportunities
66   experience retail manager aspire human resourc...
67          human resources staff recruit professional
68                human resources specialist luxottica
69   director human resources north america groupe ...
70   retire army national guard recruiter office ma...
71          human resources generalist scottmadden inc
72   business management major aspire human resourc...
73   aspire human resources manager seek internship...
74                        human resources professional
75   nortia staff seek human resources payroll admi...
76   aspire human resources professional passionate...
77   human resources conflict management policies p...
78                  human resources generalist schwans
79   liberal arts major aspire human resources analyst
80             junior mes engineer information systems
81   senior human resources business partner heil e...
82   aspire human resources professional energetic ...
83   human resources manager endemol shine north am...
84   human resources professional world leader gi s...
85   rrp brand portfolio executive jti japan tobacc...
86   information systems specialist programmer love...
87   bachelor science biology victoria university w...
88                    human resources management major
89                         director human resources ey
90     undergraduate research assistant styczynski lab
91           lead official western illinois university
92   seek employment opportunities within customer ...
93   admissions representative community medical ce...
94   seek human resources opportunities open travel...
95                  student westfield state university
96   student indiana university kokomo business man...
97                 aspire human resources professional
98                                             student
99                       seek human resources position
100  aspire human resources manager graduate may se...
101                 human resources generalist loparex
102          business intelligence analytics travelers
103                                 always set success
104             director administration excellence log

                                location connection
id
1                         Houston, Texas         85
2                                 Kanada      500+
3    Raleigh-Durham, North Carolina Area         44
4                          Denton, Texas      500+
5                         İzmir, Türkiye      500+
6             Greater New York City Area          1
7                                 Kanada         61
8                 San Francisco Bay Area      500+
10             Greater Philadelphia Area      500+
11               Lake Forest, California          2
12                   Houston, Texas Area      500+
13                      Atlanta, Georgia      500+
27                   Houston, Texas Area      500+
28                     Chicago, Illinois        390
66                    Austin, Texas Area         57
67             Jackson, Mississippi Area      500+
68            Greater New York City Area      500+
69   Greater Grand Rapids, Michigan Area      500+
70              Virginia Beach, Virginia         82
71   Raleigh-Durham, North Carolina Area      500+
72                Monroe, Louisiana Area          5
73                   Houston, Texas Area          7
74                   Greater Boston Area         16
75                  San Jose, California      500+
76                    New York, New York        212
77                Dallas/Fort Worth Area        409
78           Amerika Birleşik Devletleri      500+
79           Baton Rouge, Louisiana Area          7
80     Myrtle Beach, South Carolina Area         52
81           Chattanooga, Tennessee Area        455
82                    Austin, Texas Area        174
83               Los Angeles, California        268
84                  Highland, California         50
85             Greater Philadelphia Area      500+
86                Gaithersburg, Maryland          4
87                   Baltimore, Maryland         40
88                  Milpitas, California         18
89                  Greater Atlanta Area        349
90                  Greater Atlanta Area        155
91                  Greater Chicago Area         39
92                  Torrance, California         64
93                Long Beach, California          9
94           Amerika Birleşik Devletleri        415
95            Bridgewater, Massachusetts         57
96                    Lafayette, Indiana         19
97                  Kokomo, Indiana Area         71
98                   Houston, Texas Area          4
99                Las Vegas, Nevada Area         48
100             Cape Girardeau, Missouri        103
101  Raleigh-Durham, North Carolina Area      500+
102           Greater New York City Area         49
103             Greater Los Angeles Area      500+
104                          Katy, Texas      500+

In [26]:
def get_avg_vector_glove(tokenized_sentences):
    model_glove = KeyedVectors.load_word2vec_format(word2vec_output_file, binary=False)
#     print(model_glove.similar_by_word('aspire'))
    vec_avg_array = []
    n = 0
    while n < len(tokenized_sentences):
        line_vec_array = np.array(0)
        for i in range(len(tokenized_sentences[n])):
            try:
                line_vec_array = line_vec_array + model_glove.get_vector(tokenized_sentences[n][i])
            except:
                line_vec_array = line_vec_array
        vec_avg_array.append(line_vec_array/len(tokenized_sentences[n]))
        n = n+1
    return vec_avg_array

In [45]:
keyword = 'aspire human resources'
t_s_kw= get_tokenized_sentences(keyword)
t_s_df= get_tokenized_sentences(df_v4, 'job_title')
avg_vec_kw = np.array(get_avg_vector_glove(t_s_kw))
avg_vec_df = np.array(get_avg_vector_glove(t_s_df))

In [46]:
cosym4 = cosine_similarity(avg_vec_df, avg_vec_kw.reshape(1, -1))
df_v4['fit_gloVe'] = cosym4
df_v4.sort_values('fit_gloVe', ascending=False, inplace=True)
np.set_printoptions(suppress=True)

df_v4

,job_title,location,connection,fit_gloVe
id,,,,
6,aspire human resources specialist,Greater New York City Area,1,0.941393
3,aspire human resources professional,"Raleigh-Durham, North Carolina Area",44,0.936134
97,aspire human resources professional,"Kokomo, Indiana Area",71,0.936134
73,aspire human resources manager seek internship...,"Houston, Texas Area",7,0.916721
28,seek human resources opportunities,"Chicago, Illinois",390,0.882079
10,seek human resources human resources informati...,Greater Philadelphia Area,500+,0.874370
99,seek human resources position,"Las Vegas, Nevada Area",48,0.868836
74,human resources professional,Greater Boston Area,16,0.861903
101,human resources generalist loparex,"Raleigh-Durham, North Carolina Area",500+,0.855160
78,human resources generalist schwans,Amerika Birleşik Devletleri,500+,0.855160
76,aspire human resources professional passionate...,"New York, New York",212,0.854580
82,aspire human resources professional energetic ...,"Austin, Texas Area",174,0.847649
27,aspire human resources management student seek...,"Houston, Texas Area",500+,0.838108
71,human resources generalist scottmadden inc,"Raleigh-Durham, North Carolina Area",500+,0.832003
100,aspire human resources manager graduate may se...,"Cape Girardeau, Missouri",103,0.822081
88,human resources management major,"Milpitas, California",18,0.819410
79,liberal arts major aspire human resources analyst,"Baton Rouge, Louisiana Area",7,0.806456
89,director human resources ey,Greater Atlanta Area,349,0.800508
72,business management major aspire human resourc...,"Monroe, Louisiana Area",5,0.799492
66,experience retail manager aspire human resourc...,"Austin, Texas Area",57,0.797746
94,seek human resources opportunities open travel...,Amerika Birleşik Devletleri,415,0.790332
7,student humber college aspire human resources ...,Kanada,61,0.786640
77,human resources conflict management policies p...,Dallas/Fort Worth Area,409,0.785497
84,human resources professional world leader gi s...,"Highland, California",50,0.784346
81,senior human resources business partner heil e...,"Chattanooga, Tennessee Area",455,0.776772
67,human resources staff recruit professional,"Jackson, Mississippi Area",500+,0.776399
8,human resources senior specialist,San Francisco Bay Area,500+,0.773029
68,human resources specialist luxottica,Greater New York City Area,500+,0.764817
83,human resources manager endemol shine north am...,"Los Angeles, California",268,0.752498
75,nortia staff seek human resources payroll admi...,"San Jose, California",500+,0.751918
69,director human resources north america groupe ...,"Greater Grand Rapids, Michigan Area",500+,0.744244
12,senior vice president chief human resources of...,"Houston, Texas Area",500+,0.731169
13,human resources coordinator intercontinental b...,"Atlanta, Georgia",500+,0.675561
70,retire army national guard recruiter office ma...,"Virginia Beach, Virginia",82,0.670687
86,information systems specialist programmer love...,"Gaithersburg, Maryland",4,0.648477
92,seek employment opportunities within customer ...,"Torrance, California",64,0.641716
4,people development coordinator ryan,"Denton, Texas",500+,0.629906
103,always set success,Greater Los Angeles Area,500+,0.584060
104,director administration excellence log,"Katy, Texas",500+,0.583410
93,admissions representative community medical ce...,"Long Beach, California",9,0.563153
1,ct bauer college business graduate magna cum l...,"Houston, Texas",85,0.552877
80,junior mes engineer information systems,"Myrtle Beach, South Carolina Area",52,0.536326
91,lead official western illinois university,Greater Chicago Area,39,0.491354
90,undergraduate research assistant styczynski lab,Greater Atlanta Area,155,0.489698
96,student indiana university kokomo business man...,"Lafayette, Indiana",19,0.481603
102,business intelligence analytics travelers,Greater New York City Area,49,0.477219
85,rrp brand portfolio executive jti japan tobacc...,Greater Philadelphia Area,500+,0.455082
2,native english teacher epik english program korea,Kanada,500+,0.438453
87,bachelor science biology victoria university w...,"Baltimore, Maryland",40,0.425153
95,student westfield state university,"Bridgewater, Massachusetts",57,0.418239
98,student,"Houston, Texas Area",4,0.373957
11,student chapman university,"Lake Forest, California",2,0.364046
5,advisory board member celal bayar university,"İzmir, Türkiye",500+,0.346785

#### Testing glove

In [47]:
keyword2 = 'manager human resources'
t_s_kw2= get_tokenized_sentences(keyword2)
t_s_df2= get_tokenized_sentences(df_v4, 'job_title')
avg_vec_kw2 = np.array(get_avg_vector_glove(t_s_kw2))
avg_vec_df2 = np.array(get_avg_vector_glove(t_s_df2))
cosym5 = cosine_similarity(avg_vec_df2, avg_vec_kw2.reshape(1, -1))
df_v4['fit_gloVe'] = cosym5
df_v4.sort_values('fit_gloVe', ascending=False, inplace=True)
np.set_printoptions(suppress=True)

df_v4

,job_title,location,connection,fit_gloVe
id,,,,
88,human resources management major,"Milpitas, California",18,0.925521
73,aspire human resources manager seek internship...,"Houston, Texas Area",7,0.925240
72,business management major aspire human resourc...,"Monroe, Louisiana Area",5,0.920822
74,human resources professional,Greater Boston Area,16,0.906540
10,seek human resources human resources informati...,Greater Philadelphia Area,500+,0.897066
89,director human resources ey,Greater Atlanta Area,349,0.895175
66,experience retail manager aspire human resourc...,"Austin, Texas Area",57,0.893973
8,human resources senior specialist,San Francisco Bay Area,500+,0.888335
100,aspire human resources manager graduate may se...,"Cape Girardeau, Missouri",103,0.885154
81,senior human resources business partner heil e...,"Chattanooga, Tennessee Area",455,0.882484
99,seek human resources position,"Las Vegas, Nevada Area",48,0.877514
83,human resources manager endemol shine north am...,"Los Angeles, California",268,0.870492
12,senior vice president chief human resources of...,"Houston, Texas Area",500+,0.866569
67,human resources staff recruit professional,"Jackson, Mississippi Area",500+,0.862363
6,aspire human resources specialist,Greater New York City Area,1,0.860094
28,seek human resources opportunities,"Chicago, Illinois",390,0.857979
84,human resources professional world leader gi s...,"Highland, California",50,0.853541
77,human resources conflict management policies p...,Dallas/Fort Worth Area,409,0.850659
70,retire army national guard recruiter office ma...,"Virginia Beach, Virginia",82,0.840662
97,aspire human resources professional,"Kokomo, Indiana Area",71,0.839097
3,aspire human resources professional,"Raleigh-Durham, North Carolina Area",44,0.839097
69,director human resources north america groupe ...,"Greater Grand Rapids, Michigan Area",500+,0.837748
82,aspire human resources professional energetic ...,"Austin, Texas Area",174,0.825123
75,nortia staff seek human resources payroll admi...,"San Jose, California",500+,0.823796
78,human resources generalist schwans,Amerika Birleşik Devletleri,500+,0.821720
101,human resources generalist loparex,"Raleigh-Durham, North Carolina Area",500+,0.821720
68,human resources specialist luxottica,Greater New York City Area,500+,0.821718
27,aspire human resources management student seek...,"Houston, Texas Area",500+,0.817281
79,liberal arts major aspire human resources analyst,"Baton Rouge, Louisiana Area",7,0.814289
71,human resources generalist scottmadden inc,"Raleigh-Durham, North Carolina Area",500+,0.814164
94,seek human resources opportunities open travel...,Amerika Birleşik Devletleri,415,0.811857
4,people development coordinator ryan,"Denton, Texas",500+,0.809194
76,aspire human resources professional passionate...,"New York, New York",212,0.797749
86,information systems specialist programmer love...,"Gaithersburg, Maryland",4,0.778578
13,human resources coordinator intercontinental b...,"Atlanta, Georgia",500+,0.769402
92,seek employment opportunities within customer ...,"Torrance, California",64,0.746251
104,director administration excellence log,"Katy, Texas",500+,0.726775
7,student humber college aspire human resources ...,Kanada,61,0.706968
93,admissions representative community medical ce...,"Long Beach, California",9,0.694755
96,student indiana university kokomo business man...,"Lafayette, Indiana",19,0.693287
80,junior mes engineer information systems,"Myrtle Beach, South Carolina Area",52,0.657787
103,always set success,Greater Los Angeles Area,500+,0.654400
85,rrp brand portfolio executive jti japan tobacc...,Greater Philadelphia Area,500+,0.635509
90,undergraduate research assistant styczynski lab,Greater Atlanta Area,155,0.633990
91,lead official western illinois university,Greater Chicago Area,39,0.631123
102,business intelligence analytics travelers,Greater New York City Area,49,0.624332
1,ct bauer college business graduate magna cum l...,"Houston, Texas",85,0.581009
2,native english teacher epik english program korea,Kanada,500+,0.526928
95,student westfield state university,"Bridgewater, Massachusetts",57,0.519446
87,bachelor science biology victoria university w...,"Baltimore, Maryland",40,0.504079
5,advisory board member celal bayar university,"İzmir, Türkiye",500+,0.483491
11,student chapman university,"Lake Forest, California",2,0.483004
98,student,"Houston, Texas Area",4,0.447874

#### GloVe Another approach

In [48]:
df_v7 = df_no_duplicates_fitFeature.copy()
df_v7['job_title'] = df_v7.job_title.apply(get_preprocessed_text)
df_v7.replace({'job_title' : { 'chro' : 'chief human resources officer', 'svp' : 'senior vice president'
        ,'gphr' : 'global professional in human resources','hris' : 'human resources information system'
        , 'csr' : 'corporate social responsibility', 'sphr' : 'strategic and policy-making certification'
        , 'hr' : 'human resources'}}, regex=True, inplace=True)
print('shape of the df_v7 dataframe: ', df_v7.shape)
print('df_v7 dataframe: ', df_v7)

shape of the df_v7 dataframe:  (53, 3)
df_v7 dataframe:                                               job_title  \
id
1    ct bauer college business graduate magna cum l...
2    native english teacher epik english program korea
3                  aspire human resources professional
4                  people development coordinator ryan
5         advisory board member celal bayar university
6                    aspire human resources specialist
7    student humber college aspire human resources ...
8                    human resources senior specialist
10   seek human resources human resources informati...
11                          student chapman university
12   senior vice president chief human resources of...
13   human resources coordinator intercontinental b...
27   aspire human resources management student seek...
28                  seek human resources opportunities
66   experience retail manager aspire human resourc...
67          human resources staff recruit professional
68                human resources specialist luxottica
69   director human resources north america groupe ...
70   retire army national guard recruiter office ma...
71          human resources generalist scottmadden inc
72   business management major aspire human resourc...
73   aspire human resources manager seek internship...
74                        human resources professional
75   nortia staff seek human resources payroll admi...
76   aspire human resources professional passionate...
77   human resources conflict management policies p...
78                  human resources generalist schwans
79   liberal arts major aspire human resources analyst
80             junior mes engineer information systems
81   senior human resources business partner heil e...
82   aspire human resources professional energetic ...
83   human resources manager endemol shine north am...
84   human resources professional world leader gi s...
85   rrp brand portfolio executive jti japan tobacc...
86   information systems specialist programmer love...
87   bachelor science biology victoria university w...
88                    human resources management major
89                         director human resources ey
90     undergraduate research assistant styczynski lab
91           lead official western illinois university
92   seek employment opportunities within customer ...
93   admissions representative community medical ce...
94   seek human resources opportunities open travel...
95                  student westfield state university
96   student indiana university kokomo business man...
97                 aspire human resources professional
98                                             student
99                       seek human resources position
100  aspire human resources manager graduate may se...
101                 human resources generalist loparex
102          business intelligence analytics travelers
103                                 always set success
104             director administration excellence log

                                location connection
id
1                         Houston, Texas         85
2                                 Kanada      500+
3    Raleigh-Durham, North Carolina Area         44
4                          Denton, Texas      500+
5                         İzmir, Türkiye      500+
6             Greater New York City Area          1
7                                 Kanada         61
8                 San Francisco Bay Area      500+
10             Greater Philadelphia Area      500+
11               Lake Forest, California          2
12                   Houston, Texas Area      500+
13                      Atlanta, Georgia      500+
27                   Houston, Texas Area      500+
28                     Chicago, Illinois        390
66                    Austin, Texas Area         57
67             Jackson, Mississippi Area      500+
68            Greater New York City Area      500+
69   Greater Grand Rapids, Michigan Area      500+
70              Virginia Beach, Virginia         82
71   Raleigh-Durham, North Carolina Area      500+
72                Monroe, Louisiana Area          5
73                   Houston, Texas Area          7
74                   Greater Boston Area         16
75                  San Jose, California      500+
76                    New York, New York        212
77                Dallas/Fort Worth Area        409
78           Amerika Birleşik Devletleri      500+
79           Baton Rouge, Louisiana Area          7
80     Myrtle Beach, South Carolina Area         52
81           Chattanooga, Tennessee Area        455
82                    Austin, Texas Area        174
83               Los Angeles, California        268
84                  Highland, California         50
85             Greater Philadelphia Area      500+
86                Gaithersburg, Maryland          4
87                   Baltimore, Maryland         40
88                  Milpitas, California         18
89                  Greater Atlanta Area        349
90                  Greater Atlanta Area        155
91                  Greater Chicago Area         39
92                  Torrance, California         64
93                Long Beach, California          9
94           Amerika Birleşik Devletleri        415
95            Bridgewater, Massachusetts         57
96                    Lafayette, Indiana         19
97                  Kokomo, Indiana Area         71
98                   Houston, Texas Area          4
99                Las Vegas, Nevada Area         48
100             Cape Girardeau, Missouri        103
101  Raleigh-Durham, North Carolina Area      500+
102           Greater New York City Area         49
103             Greater Los Angeles Area      500+
104                          Katy, Texas      500+

In [50]:
keyword = 'aspire human resources'
t_s_kw3= get_tokenized_sentences(keyword)
t_s_df3= get_tokenized_sentences(df_v7, 'job_title')
t_s_df3.append(t_s_kw3[0])
t_s_df3

[['ct',
  'bauer',
  'college',
  'business',
  'graduate',
  'magna',
  'cum',
  'laude',
  'aspire',
  'human',
  'resources',
  'professional'],
 ['native', 'english', 'teacher', 'epik', 'english', 'program', 'korea'],
 ['aspire', 'human', 'resources', 'professional'],
 ['people', 'development', 'coordinator', 'ryan'],
 ['advisory', 'board', 'member', 'celal', 'bayar', 'university'],
 ['aspire', 'human', 'resources', 'specialist'],
 ['student',
  'humber',
  'college',
  'aspire',
  'human',
  'resources',
  'generalist'],
 ['human', 'resources', 'senior', 'specialist'],
 ['seek',
  'human',
  'resources',
  'human',
  'resources',
  'information',
  'system',
  'generalist',
  'position'],
 ['student', 'chapman', 'university'],
 ['senior',
  'vice',
  'president',
  'chief',
  'human',
  'resources',
  'officer',
  'market',
  'communications',
  'corporate',
  'social',
  'responsibility',
  'officer',
  'engie',
  'houston',
  'woodlands',
  'energy',
  'global',
  'professional',
  'human',
  'resources',
  'strategic',
  'policymaking',
  'certification'],
 ['human',
  'resources',
  'coordinator',
  'intercontinental',
  'buckhead',
  'atlanta'],
 ['aspire',
  'human',
  'resources',
  'management',
  'student',
  'seek',
  'internship'],
 ['seek', 'human', 'resources', 'opportunities'],
 ['experience',
  'retail',
  'manager',
  'aspire',
  'human',
  'resources',
  'professional'],
 ['human', 'resources', 'staff', 'recruit', 'professional'],
 ['human', 'resources', 'specialist', 'luxottica'],
 ['director', 'human', 'resources', 'north', 'america', 'groupe', 'beneteau'],
 ['retire',
  'army',
  'national',
  'guard',
  'recruiter',
  'office',
  'manager',
  'seek',
  'position',
  'human',
  'resources'],
 ['human', 'resources', 'generalist', 'scottmadden', 'inc'],
 ['business',
  'management',
  'major',
  'aspire',
  'human',
  'resources',
  'manager'],
 ['aspire',
  'human',
  'resources',
  'manager',
  'seek',
  'internship',
  'human',
  'resources'],
 ['human', 'resources', 'professional'],
 ['nortia',
  'staff',
  'seek',
  'human',
  'resources',
  'payroll',
  'administrative',
  'professionals'],
 ['aspire',
  'human',
  'resources',
  'professional',
  'passionate',
  'help',
  'create',
  'inclusive',
  'engage',
  'work',
  'environment'],
 ['human',
  'resources',
  'conflict',
  'management',
  'policies',
  'procedurestalent',
  'managementbenefits',
  'compensation'],
 ['human', 'resources', 'generalist', 'schwans'],
 ['liberal', 'arts', 'major', 'aspire', 'human', 'resources', 'analyst'],
 ['junior', 'mes', 'engineer', 'information', 'systems'],
 ['senior',
  'human',
  'resources',
  'business',
  'partner',
  'heil',
  'environmental'],
 ['aspire',
  'human',
  'resources',
  'professional',
  'energetic',
  'teamfocused',
  'leader'],
 ['human', 'resources', 'manager', 'endemol', 'shine', 'north', 'america'],
 ['human', 'resources', 'professional', 'world', 'leader', 'gi', 'software'],
 ['rrp',
  'brand',
  'portfolio',
  'executive',
  'jti',
  'japan',
  'tobacco',
  'international'],
 ['information',
  'systems',
  'specialist',
  'programmer',
  'love',
  'data',
  'organization'],
 ['bachelor', 'science', 'biology', 'victoria', 'university', 'wellington'],
 ['human', 'resources', 'management', 'major'],
 ['director', 'human', 'resources', 'ey'],
 ['undergraduate', 'research', 'assistant', 'styczynski', 'lab'],
 ['lead', 'official', 'western', 'illinois', 'university'],
 ['seek',
  'employment',
  'opportunities',
  'within',
  'customer',
  'service',
  'patient',
  'care'],
 ['admissions',
  'representative',
  'community',
  'medical',
  'center',
  'long',
  'beach'],
 ['seek',
  'human',
  'resources',
  'opportunities',
  'open',
  'travel',
  'relocation'],
 ['student', 'westfield', 'state', 'university'],
 ['student',
  'indiana',
  'university',
  'kokomo',
  'business',
  'management',
  'retail',
  'manager',
  'delphi',
  'hardware',
  'paint'],
 ['aspire', 'human', 'resources', 'professional'],
 ['student'],
 ['seek', 'human', 'resources', 'position'],
 ['aspire',
  'human',
  'resources',
  'manager',
  'graduate',
  'may',
  'seek',
  'entrylevel',
  'human',
  'resources',
  'position',
  'st',
  'louis'],
 ['human', 'resources', 'generalist', 'loparex'],
 ['business', 'intelligence', 'analytics', 'travelers'],
 ['always', 'set', 'success'],
 ['director', 'administration', 'excellence', 'log'],
 ['aspire', 'human', 'resources']]

In [32]:
def sentense_vector_glove(corpus):
    glove =  KeyedVectors.load_word2vec_format(word2vec_output_file, binary=False)
    line_vec=np.array(0)
    l=list()
    for i in corpus:
        a=0
        for j in i:
            a += 1
            try:
                a=a+1
                line_vec=line_vec+glove.get_vector(j)
            except:
                line_vec=line_vec
        l.append(line_vec/a)
    return l

In [33]:
avg_vecs_all = sentense_vector_glove(t_s_df3)

In [34]:
avg_vecs_all_array = np.array(avg_vecs_all)

In [35]:
avg_vecs_all_array.shape

(54, 100)

In [36]:
avg_vecs_all_array[1]

array([ 0.4466211 ,  0.47182527,  0.06191029, -0.02479523, -0.06759001,
       -0.05950569,  0.24243975, -0.02293098, -0.07452219,  0.6309534 ,
       -0.18751201, -0.36395055,  0.4165965 ,  0.7031492 , -0.26035154,
       -0.3294459 ,  0.76978076,  0.03635737, -0.17786191,  0.41572043,
       -0.37812668,  0.1536633 ,  0.22512643, -0.01103844,  0.12832057,
       -0.09495573, -0.15104477, -0.6472967 , -0.04570744, -0.03060014,
       -0.73989433,  0.89988333, -0.50165254,  0.10967638, -0.0794732 ,
        0.11480696, -0.19023858,  0.2734347 , -0.38280073, -0.03170557,
       -0.6781289 ,  0.05340324, -0.566459  , -0.21168293, -0.02746588,
        0.00073488,  0.3082872 ,  0.06082916,  0.14910899, -0.12362785,
       -0.22174878, -0.20483981,  0.03707885,  0.23487571, -0.01782588,
       -1.8380002 ,  0.00903405, -0.5435758 ,  1.279343  ,  0.15138392,
        0.05821714,  0.2330191 , -0.4883435 , -0.32412672,  0.42199138,
       -0.00539658,  0.30376264,  0.46628782,  0.7061189 ,  0.4967464 ,
       -0.04099028,  0.17399839,  0.03536459, -0.11908878, -0.3594139 ,
        0.13726893, -0.05482571, -0.07179477, -0.5959077 , -0.6397839 ,
        0.34057522, -0.14493921, -0.11432145, -0.2526674 , -0.9235143 ,
        0.04713193, -0.00564757, -0.42380762,  0.2525613 , -0.53895617,
       -0.15460528, -0.20787916,  0.20491113,  0.44928497, -0.473747  ,
        0.12605013, -0.24214037, -0.27281752,  0.5010181 , -0.02918464],
      dtype=float32)

In [51]:
num_of_vectors = avg_vecs_all_array.shape[0]
X, y = avg_vecs_all_array[: num_of_vectors -1, :], avg_vecs_all_array[num_of_vectors -1, :]
cosym6 = cosine_similarity(X, y.reshape(1, -1))
df_v7['fit_gloVe2'] = cosym6
df_v7.sort_values('fit_gloVe2', ascending=False, inplace=True)
np.set_printoptions(suppress=True)

df_v7

,job_title,location,connection,fit_gloVe2
id,,,,
104,director administration excellence log,"Katy, Texas",500+,0.999980
103,always set success,Greater Los Angeles Area,500+,0.999965
102,business intelligence analytics travelers,Greater New York City Area,49,0.999927
101,human resources generalist loparex,"Raleigh-Durham, North Carolina Area",500+,0.999881
100,aspire human resources manager graduate may se...,"Cape Girardeau, Missouri",103,0.999872
99,seek human resources position,"Las Vegas, Nevada Area",48,0.999804
97,aspire human resources professional,"Kokomo, Indiana Area",71,0.999758
98,student,"Houston, Texas Area",4,0.999718
96,student indiana university kokomo business man...,"Lafayette, Indiana",19,0.999694
95,student westfield state university,"Bridgewater, Massachusetts",57,0.999659
94,seek human resources opportunities open travel...,Amerika Birleşik Devletleri,415,0.999578
93,admissions representative community medical ce...,"Long Beach, California",9,0.999513
92,seek employment opportunities within customer ...,"Torrance, California",64,0.999264
91,lead official western illinois university,Greater Chicago Area,39,0.998776
87,bachelor science biology victoria university w...,"Baltimore, Maryland",40,0.998456
90,undergraduate research assistant styczynski lab,Greater Atlanta Area,155,0.998431
88,human resources management major,"Milpitas, California",18,0.998394
89,director human resources ey,Greater Atlanta Area,349,0.998226
86,information systems specialist programmer love...,"Gaithersburg, Maryland",4,0.997659
81,senior human resources business partner heil e...,"Chattanooga, Tennessee Area",455,0.997331
80,junior mes engineer information systems,"Myrtle Beach, South Carolina Area",52,0.997303
85,rrp brand portfolio executive jti japan tobacc...,Greater Philadelphia Area,500+,0.997276
76,aspire human resources professional passionate...,"New York, New York",212,0.997251
83,human resources manager endemol shine north am...,"Los Angeles, California",268,0.997193
77,human resources conflict management policies p...,Dallas/Fort Worth Area,409,0.997109
84,human resources professional world leader gi s...,"Highland, California",50,0.997098
75,nortia staff seek human resources payroll admi...,"San Jose, California",500+,0.997064
82,aspire human resources professional energetic ...,"Austin, Texas Area",174,0.997007
79,liberal arts major aspire human resources analyst,"Baton Rouge, Louisiana Area",7,0.996908
73,aspire human resources manager seek internship...,"Houston, Texas Area",7,0.996864
74,human resources professional,Greater Boston Area,16,0.996855
72,business management major aspire human resourc...,"Monroe, Louisiana Area",5,0.996733
78,human resources generalist schwans,Amerika Birleşik Devletleri,500+,0.996692
71,human resources generalist scottmadden inc,"Raleigh-Durham, North Carolina Area",500+,0.995968
70,retire army national guard recruiter office ma...,"Virginia Beach, Virginia",82,0.995904
69,director human resources north america groupe ...,"Greater Grand Rapids, Michigan Area",500+,0.995420
68,human resources specialist luxottica,Greater New York City Area,500+,0.994886
67,human resources staff recruit professional,"Jackson, Mississippi Area",500+,0.994455
66,experience retail manager aspire human resourc...,"Austin, Texas Area",57,0.993963
28,seek human resources opportunities,"Chicago, Illinois",390,0.991913
27,aspire human resources management student seek...,"Houston, Texas Area",500+,0.989714
13,human resources coordinator intercontinental b...,"Atlanta, Georgia",500+,0.988199
12,senior vice president chief human resources of...,"Houston, Texas Area",500+,0.986995
10,seek human resources human resources informati...,Greater Philadelphia Area,500+,0.974306
11,student chapman university,"Lake Forest, California",2,0.968973
8,human resources senior specialist,San Francisco Bay Area,500+,0.949824
7,student humber college aspire human resources ...,Kanada,61,0.935595
6,aspire human resources specialist,Greater New York City Area,1,0.933517
4,people development coordinator ryan,"Denton, Texas",500+,0.910189
5,advisory board member celal bayar university,"İzmir, Türkiye",500+,0.908921
3,aspire human resources professional,"Raleigh-Durham, North Carolina Area",44,0.872815
2,native english teacher epik english program korea,Kanada,500+,0.809896
1,ct bauer college business graduate magna cum l...,"Houston, Texas",85,0.766282

#### Fasttext

In [38]:
# !pip install fasttext

In [39]:
import fasttext.util
fasttext.util.download_model('en', if_exists='ignore')

'cc.en.300.bin'

In [40]:
fast_model = fasttext.load_model('cc.en.300.bin')

Warning : `load_model` does not return WordVectorModel or SupervisedModel any more, but a `FastText` object which is very similar.

In [41]:
fast_model.get_dimension()

300

#### BERT

In [42]:
df_v6 = df_no_duplicates_fitFeature.copy()
df_v6['job_title'] = df_v6.job_title.apply(get_preprocessed_text)
df_v6.replace({'job_title' : { 'chro' : 'chief human resources officer', 'svp' : 'senior vice president'
        ,'gphr' : 'global professional in human resources','hris' : 'human resources information system'
        , 'csr' : 'corporate social responsibility', 'sphr' : 'strategic and policy-making certification'
        , 'hr' : 'human resources'}}, regex=True, inplace=True)
print('shape of the df_v6 dataframe: ', df_v6.shape)
print('df_v6 dataframe: ', df_v6)

shape of the df_v6 dataframe:  (53, 3)
df_v6 dataframe:                                               job_title  \
id
1    ct bauer college business graduate magna cum l...
2    native english teacher epik english program korea
3                  aspire human resources professional
4                  people development coordinator ryan
5         advisory board member celal bayar university
6                    aspire human resources specialist
7    student humber college aspire human resources ...
8                    human resources senior specialist
10   seek human resources human resources informati...
11                          student chapman university
12   senior vice president chief human resources of...
13   human resources coordinator intercontinental b...
27   aspire human resources management student seek...
28                  seek human resources opportunities
66   experience retail manager aspire human resourc...
67          human resources staff recruit professional
68                human resources specialist luxottica
69   director human resources north america groupe ...
70   retire army national guard recruiter office ma...
71          human resources generalist scottmadden inc
72   business management major aspire human resourc...
73   aspire human resources manager seek internship...
74                        human resources professional
75   nortia staff seek human resources payroll admi...
76   aspire human resources professional passionate...
77   human resources conflict management policies p...
78                  human resources generalist schwans
79   liberal arts major aspire human resources analyst
80             junior mes engineer information systems
81   senior human resources business partner heil e...
82   aspire human resources professional energetic ...
83   human resources manager endemol shine north am...
84   human resources professional world leader gi s...
85   rrp brand portfolio executive jti japan tobacc...
86   information systems specialist programmer love...
87   bachelor science biology victoria university w...
88                    human resources management major
89                         director human resources ey
90     undergraduate research assistant styczynski lab
91           lead official western illinois university
92   seek employment opportunities within customer ...
93   admissions representative community medical ce...
94   seek human resources opportunities open travel...
95                  student westfield state university
96   student indiana university kokomo business man...
97                 aspire human resources professional
98                                             student
99                       seek human resources position
100  aspire human resources manager graduate may se...
101                 human resources generalist loparex
102          business intelligence analytics travelers
103                                 always set success
104             director administration excellence log

                                location connection
id
1                         Houston, Texas         85
2                                 Kanada      500+
3    Raleigh-Durham, North Carolina Area         44
4                          Denton, Texas      500+
5                         İzmir, Türkiye      500+
6             Greater New York City Area          1
7                                 Kanada         61
8                 San Francisco Bay Area      500+
10             Greater Philadelphia Area      500+
11               Lake Forest, California          2
12                   Houston, Texas Area      500+
13                      Atlanta, Georgia      500+
27                   Houston, Texas Area      500+
28                     Chicago, Illinois        390
66                    Austin, Texas Area         57
67             Jackson, Mississippi Area      500+
68            Greater New York City Area      500+
69   Greater Grand Rapids, Michigan Area      500+
70              Virginia Beach, Virginia         82
71   Raleigh-Durham, North Carolina Area      500+
72                Monroe, Louisiana Area          5
73                   Houston, Texas Area          7
74                   Greater Boston Area         16
75                  San Jose, California      500+
76                    New York, New York        212
77                Dallas/Fort Worth Area        409
78           Amerika Birleşik Devletleri      500+
79           Baton Rouge, Louisiana Area          7
80     Myrtle Beach, South Carolina Area         52
81           Chattanooga, Tennessee Area        455
82                    Austin, Texas Area        174
83               Los Angeles, California        268
84                  Highland, California         50
85             Greater Philadelphia Area      500+
86                Gaithersburg, Maryland          4
87                   Baltimore, Maryland         40
88                  Milpitas, California         18
89                  Greater Atlanta Area        349
90                  Greater Atlanta Area        155
91                  Greater Chicago Area         39
92                  Torrance, California         64
93                Long Beach, California          9
94           Amerika Birleşik Devletleri        415
95            Bridgewater, Massachusetts         57
96                    Lafayette, Indiana         19
97                  Kokomo, Indiana Area         71
98                   Houston, Texas Area          4
99                Las Vegas, Nevada Area         48
100             Cape Girardeau, Missouri        103
101  Raleigh-Durham, North Carolina Area      500+
102           Greater New York City Area         49
103             Greater Los Angeles Area      500+
104                          Katy, Texas      500+

In [43]:
from transformers import BertTokenizer, BertModel
import torch

# Load pre-trained BERT model and tokenizer
tokenizer = BertTokenizer.from_pretrained('bert-base-uncased')
model = BertModel.from_pretrained('bert-base-uncased')

# Example texts and a keyword phrase
texts = df_v6['job_title'].tolist()
keyword_phrase = "aspire human resources"

# Tokenize and encode the keyword phrase
keyword_tokens = tokenizer(keyword_phrase, return_tensors='pt', padding=True, truncation=True)
with torch.no_grad():
    keyword_outputs = model(**keyword_tokens)
keyword_embedding = keyword_outputs.last_hidden_state.mean(dim=1)  # Use mean pooling for simplicity

# Calculate cosine similarity between each text and the keyword phrase
similarity_scores = []
for text in texts:
    text_tokens = tokenizer(text, return_tensors='pt', padding=True, truncation=True)
    with torch.no_grad():
        text_outputs = model(**text_tokens)
    text_embedding = text_outputs.last_hidden_state.mean(dim=1)  # Use mean pooling for simplicity
    similarity_score = cosine_similarity(text_embedding, keyword_embedding)[0][0].item()
    similarity_scores.append(similarity_score)

df_v6['bert_fit'] = similarity_scores
df_v6 = df_v6.sort_values('bert_fit', ascending=False)
print(df_v6)

                                             job_title  \
id
6                    aspire human resources specialist
3                  aspire human resources professional
97                 aspire human resources professional
68                human resources specialist luxottica
66   experience retail manager aspire human resourc...
82   aspire human resources professional energetic ...
81   senior human resources business partner heil e...
83   human resources manager endemol shine north am...
73   aspire human resources manager seek internship...
71          human resources generalist scottmadden inc
72   business management major aspire human resourc...
89                         director human resources ey
101                 human resources generalist loparex
7    student humber college aspire human resources ...
84   human resources professional world leader gi s...
75   nortia staff seek human resources payroll admi...
27   aspire human resources management student seek...
74                        human resources professional
28                  seek human resources opportunities
76   aspire human resources professional passionate...
8                    human resources senior specialist
94   seek human resources opportunities open travel...
79   liberal arts major aspire human resources analyst
69   director human resources north america groupe ...
77   human resources conflict management policies p...
10   seek human resources human resources informati...
99                       seek human resources position
100  aspire human resources manager graduate may se...
88                    human resources management major
67          human resources staff recruit professional
78                  human resources generalist schwans
104             director administration excellence log
85   rrp brand portfolio executive jti japan tobacc...
102          business intelligence analytics travelers
92   seek employment opportunities within customer ...
1    ct bauer college business graduate magna cum l...
13   human resources coordinator intercontinental b...
86   information systems specialist programmer love...
4                  people development coordinator ryan
12   senior vice president chief human resources of...
80             junior mes engineer information systems
96   student indiana university kokomo business man...
2    native english teacher epik english program korea
70   retire army national guard recruiter office ma...
93   admissions representative community medical ce...
103                                 always set success
91           lead official western illinois university
98                                             student
95                  student westfield state university
87   bachelor science biology victoria university w...
5         advisory board member celal bayar university
90     undergraduate research assistant styczynski lab
11                          student chapman university

                                location connection  bert_fit
id
6             Greater New York City Area          1  0.904199
3    Raleigh-Durham, North Carolina Area         44  0.900271
97                  Kokomo, Indiana Area         71  0.900271
68            Greater New York City Area      500+   0.805260
66                    Austin, Texas Area         57  0.799784
82                    Austin, Texas Area        174  0.780911
81           Chattanooga, Tennessee Area        455  0.775602
83               Los Angeles, California        268  0.769205
73                   Houston, Texas Area          7  0.761263
71   Raleigh-Durham, North Carolina Area      500+   0.753514
72                Monroe, Louisiana Area          5  0.748953
89                  Greater Atlanta Area        349  0.743310
101  Raleigh-Durham, North Carolina Area      500+   0.741346
7                                 Kanada         61  0.740411
84                  Highland, California         50  0.737525
75                  San Jose, California      500+   0.734966
27                   Houston, Texas Area      500+   0.734096
74                   Greater Boston Area         16  0.733743
28                     Chicago, Illinois        390  0.728774
76                    New York, New York        212  0.726433
8                 San Francisco Bay Area      500+   0.724292
94           Amerika Birleşik Devletleri        415  0.717275
79           Baton Rouge, Louisiana Area          7  0.708306
69   Greater Grand Rapids, Michigan Area      500+   0.705779
77                Dallas/Fort Worth Area        409  0.705173
10             Greater Philadelphia Area      500+   0.703816
99                Las Vegas, Nevada Area         48  0.702811
100             Cape Girardeau, Missouri        103  0.699747
88                  Milpitas, California         18  0.687451
67             Jackson, Mississippi Area      500+   0.683581
78           Amerika Birleşik Devletleri      500+   0.682537
104                          Katy, Texas      500+   0.680899
85             Greater Philadelphia Area      500+   0.676501
102           Greater New York City Area         49  0.668430
92                  Torrance, California         64  0.667598
1                         Houston, Texas         85  0.666824
13                      Atlanta, Georgia      500+   0.654408
86                Gaithersburg, Maryland          4  0.653882
4                          Denton, Texas      500+   0.646810
12                   Houston, Texas Area      500+   0.642072
80     Myrtle Beach, South Carolina Area         52  0.624552
96                    Lafayette, Indiana         19  0.613600
2                                 Kanada      500+   0.585702
70              Virginia Beach, Virginia         82  0.579833
93                Long Beach, California          9  0.574142
103             Greater Los Angeles Area      500+   0.570842
91                  Greater Chicago Area         39  0.542084
98                   Houston, Texas Area          4  0.532194
95            Bridgewater, Massachusetts         57  0.524709
87                   Baltimore, Maryland         40  0.516326
5                         İzmir, Türkiye      500+   0.507733
90                  Greater Atlanta Area        155  0.502916
11               Lake Forest, California          2  0.494148

In [44]:
# Load pre-trained BERT model and tokenizer
# tokenizer = BertTokenizer.from_pretrained('bert-base-uncased')
# model = BertModel.from_pretrained('bert-base-uncased')

# Example texts and a keyword phrase
texts = df_v6['job_title'].tolist()
keyword_phrase = "human resources professional"

# Tokenize and encode the keyword phrase
keyword_tokens = tokenizer(keyword_phrase, return_tensors='pt', padding=True, truncation=True)
with torch.no_grad():
    keyword_outputs = model(**keyword_tokens)
keyword_embedding = keyword_outputs.last_hidden_state.mean(dim=1)  
# Calculate cosine similarity between each text and the keyword phrase
similarity_scores = []
for text in texts:
    text_tokens = tokenizer(text, return_tensors='pt', padding=True, truncation=True)
    with torch.no_grad():
        text_outputs = model(**text_tokens)
    text_embedding = text_outputs.last_hidden_state.mean(dim=1)
    similarity_score = cosine_similarity(text_embedding, keyword_embedding)[0][0].item()
    similarity_scores.append(similarity_score)

df_v6['bert_fit'] = similarity_scores
df_v6 = df_v6.sort_values('bert_fit', ascending=False)
print(df_v6)

                                             job_title  \
id
74                        human resources professional
8                    human resources senior specialist
97                 aspire human resources professional
3                  aspire human resources professional
88                    human resources management major
67          human resources staff recruit professional
89                         director human resources ey
6                    aspire human resources specialist
66   experience retail manager aspire human resourc...
84   human resources professional world leader gi s...
72   business management major aspire human resourc...
68                human resources specialist luxottica
75   nortia staff seek human resources payroll admi...
28                  seek human resources opportunities
4                  people development coordinator ryan
99                       seek human resources position
79   liberal arts major aspire human resources analyst
73   aspire human resources manager seek internship...
81   senior human resources business partner heil e...
104             director administration excellence log
27   aspire human resources management student seek...
71          human resources generalist scottmadden inc
13   human resources coordinator intercontinental b...
94   seek human resources opportunities open travel...
10   seek human resources human resources informati...
80             junior mes engineer information systems
101                 human resources generalist loparex
82   aspire human resources professional energetic ...
86   information systems specialist programmer love...
78                  human resources generalist schwans
77   human resources conflict management policies p...
92   seek employment opportunities within customer ...
102          business intelligence analytics travelers
100  aspire human resources manager graduate may se...
76   aspire human resources professional passionate...
7    student humber college aspire human resources ...
12   senior vice president chief human resources of...
83   human resources manager endemol shine north am...
69   director human resources north america groupe ...
1    ct bauer college business graduate magna cum l...
70   retire army national guard recruiter office ma...
98                                             student
2    native english teacher epik english program korea
96   student indiana university kokomo business man...
93   admissions representative community medical ce...
87   bachelor science biology victoria university w...
85   rrp brand portfolio executive jti japan tobacc...
90     undergraduate research assistant styczynski lab
11                          student chapman university
91           lead official western illinois university
103                                 always set success
95                  student westfield state university
5         advisory board member celal bayar university

                                location connection  bert_fit
id
74                   Greater Boston Area         16  1.000000
8                 San Francisco Bay Area      500+   0.906179
97                  Kokomo, Indiana Area         71  0.875699
3    Raleigh-Durham, North Carolina Area         44  0.875699
88                  Milpitas, California         18  0.867889
67             Jackson, Mississippi Area      500+   0.852650
89                  Greater Atlanta Area        349  0.844186
6             Greater New York City Area          1  0.829828
66                    Austin, Texas Area         57  0.814322
84                  Highland, California         50  0.812946
72                Monroe, Louisiana Area          5  0.803484
68            Greater New York City Area      500+   0.797423
75                  San Jose, California      500+   0.786083
28                     Chicago, Illinois        390  0.780376
4                          Denton, Texas      500+   0.777709
99                Las Vegas, Nevada Area         48  0.773091
79           Baton Rouge, Louisiana Area          7  0.768064
73                   Houston, Texas Area          7  0.751035
81           Chattanooga, Tennessee Area        455  0.750326
104                          Katy, Texas      500+   0.744506
27                   Houston, Texas Area      500+   0.739987
71   Raleigh-Durham, North Carolina Area      500+   0.730620
13                      Atlanta, Georgia      500+   0.723787
94           Amerika Birleşik Devletleri        415  0.713394
10             Greater Philadelphia Area      500+   0.709240
80     Myrtle Beach, South Carolina Area         52  0.703324
101  Raleigh-Durham, North Carolina Area      500+   0.701860
82                    Austin, Texas Area        174  0.701128
86                Gaithersburg, Maryland          4  0.700034
78           Amerika Birleşik Devletleri      500+   0.698138
77                Dallas/Fort Worth Area        409  0.697433
92                  Torrance, California         64  0.696899
102           Greater New York City Area         49  0.690757
100             Cape Girardeau, Missouri        103  0.685243
76                    New York, New York        212  0.677967
7                                 Kanada         61  0.673780
12                   Houston, Texas Area      500+   0.662947
83               Los Angeles, California        268  0.661547
69   Greater Grand Rapids, Michigan Area      500+   0.646891
1                         Houston, Texas         85  0.642421
70              Virginia Beach, Virginia         82  0.632798
98                   Houston, Texas Area          4  0.616420
2                                 Kanada      500+   0.592431
96                    Lafayette, Indiana         19  0.572079
93                Long Beach, California          9  0.569943
87                   Baltimore, Maryland         40  0.558615
85             Greater Philadelphia Area      500+   0.547166
90                  Greater Atlanta Area        155  0.538909
11               Lake Forest, California          2  0.532366
91                  Greater Chicago Area         39  0.528839
103             Greater Los Angeles Area      500+   0.523044
95            Bridgewater, Massachusetts         57  0.483772
5                         İzmir, Türkiye      500+   0.482636

### Conclusion:

Given the small sample and relatively less complex sentences, most of the models seem to give good result.